@font-face {
	font-family: 'Arsenal';
	src: url('Arsenal-Regular.eot');
	src: local('Arsenal'), local('Arsenal-Regular'),
		url('Arsenal-Regular.eot?#iefix') format('embedded-opentype'),
		url('Arsenal-Regular.woff') format('woff'),
		url('Arsenal-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}