* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }
}

.preloader {
  position: fixed;
  top: 0;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.preloader-content {
  padding-top: 106px;
  position: absolute;
  width: 202px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .preloader-second {
    margin-top: 12px;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .preloader-first {
    display: none;

    &.to-top {
      transition: transform .3s;
      position: relative;
      transform: translateY(-106px);
    }
  }
}

h1 {
  font-family: 'Kudryashev Headline', sans-serif;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: 0.02em;
  font-weight: 400;
}

h2 {
  font-family: 'Kudryashev Headline', sans-serif;
  font-size: 60px;
  line-height: 91px;
  letter-spacing: 0.02em;
  font-weight: 400;
}

h3 {
  font-family: 'Kudryashev Headline', sans-serif;
  font-size: 50px;
  line-height: 76px;
  letter-spacing: 0.02em;
  font-weight: 400;
}

h4 {
  font-family: 'Kudryashev Headline', sans-serif;
  font-size: 40px;
  line-height: 61px;
  letter-spacing: 0.02em;
  font-weight: 400;
}

h5 {
  font-family: 'Kudryashev Headline', sans-serif;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: 0.02em;
  font-weight: 400;
}

h6 {
  font-family: 'Kudryashev Headline', sans-serif;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.02em;
  font-weight: 400;
}

button {
  background: none;
  outline: none;
  border: none;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 170%;
  display: flex;
  align-items: center;
  color: #000000;
  cursor: pointer;

  span {
    margin-right: 10px;
    font-size: 17px;
  }
}

.btn-brown {
  background-color: #D7B56D;
  color: #FFFFFF;
  transition: all .3s;

  &:hover {
    background-color: #5D1D3B;
  }
}

.btn-phone {
  span {
    color: #BCBCBC;
    font-size: 17px;
    margin-right: 15px;
  }
}

.content {
  width: 100%;
  padding: 0 64px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #FFFFFF;
  width: 100%;
  transition: all .3s;
}

.main-page {
  .header {
    position: fixed;
    transform: translateY(-100%);
    padding: 0;
  }
}

.main-page .header.show {
  transform: translateY(0);
  padding: 0;
}

.header-logo {
  height: 50px;

  img {
    max-height: 100%;
  }
}

.header-right {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  max-width: 100%;
}

.header-wrap {
  width: 100%;
  display: flex;
  padding: 64px 0 15px;
  align-items: center;
  justify-content: space-between;
  transition: padding .3s;
}

.show .header-wrap {
  padding: 15px 0;
}

.main-page .header-wrap {
  padding: 15px;
}

.header-burger, .introduction-burger {
  height: 47px;
  position: relative;
  cursor: pointer;
  width: 100px;
  border-left: 1px solid #f2f2f2;
  margin-left: 15px;

  span {
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;

  }

  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    top: 14px;
    left: 50%;
    background-color: #000;
    transform: translateX(-50%);
    transition: all .3s;
  }

  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: 13px;
    left: 50%;
    background-color: #000;
    transform: translateX(-50%);
    transition: all .3s;
  }
}

.introduction-burger {
  span, &:after, &:before {
    background-color: #fff;
  }
}

.header-fullscreen {
  padding: 70px 64px;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  text-align: center;
  z-index: 10;
  overflow-y: auto;
}

.fullscreen-logo {
  margin: 0 auto;
  width: 110px;
  margin-bottom: 90px;

}

.fullscreen-logo-mobile {
  display: none;
}

.fullscreen-close {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 30px;
  right: 64px;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    transition: all .3s;
    background-color: #303030;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    transition: all .3s;
    background-color: #303030;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.fullscreen-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fullscreen-item {
  font-family: 'Kudryashev Headline', sans-serif;
  position: relative;
  font-size: 48px;
  line-height: 73px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-right: 32px;
  margin-bottom: 64px;
  text-decoration: none;

  &:not(:first-child):before {
    content: '/';
    font-size: 48px;
    line-height: 73px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #D7B56D;
    margin-right: 32px;
  }


  span {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      width: 0;
      height: 1px;
      display: block;
      position: absolute;
      left: 50%;
      bottom: -2px;
      background-color: #D7B56D;
      transform: translateX(-50%);
      transition: width .3s;
    }
  }

  &:hover span:after {
    width: 100%;
  }
}

.btn-booking-fullscreen {
  font-family: 'Kudryashev Headline';
  font-size: 42px;
  line-height: 170%;
  padding: 6px 21px;
  display: flex;
  align-items: center;
  width: 395px;
  height: 83px;

  margin: 75px auto 0;

  span {
    font-size: 26px;
    margin-right: 24px;
  }

}

.btn-lang-fullscreen {
  border-radius: 50%;
  padding: 15px;
  width: 56px;
  height: 56px;
  border: 1px solid #BCBCBC;
  margin: 90px auto 0;
}

.introduction.scaled {
  background-size: 125% 125%;
}

.introduction {
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 700px;
  background-image: radial-gradient(126.92% 126.92% at 51.09% -26.92%, rgba(0, 64, 84, 0.86) 0%, rgba(28, 163, 206, 0) 80%), url("../img/avenue-main.jpg");
  background-size: 100% 100%;
  transition: background-size 1s;
  background-position: top center;
  background-repeat: no-repeat;

  .btn {
    color: #FFFFFF;
  }

  .btn-phone {
    span {
      color: #FFFFFF;
    }

    color: #FFFFFF;
  }
}

.introduction-right {
  display: flex;
  align-items: center;
}

.introduction-header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.introduction-logo {
  width: 143px;

  img {
    width: 100%;
  }
}

.introduction-text {
  position: relative;
  transform: translateY(-90px);
}

.introduction-title {
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 100px;
}

.introduction .btn-play {
  margin: 0 auto;
  width: 61px;
  height: 61px;
  transition: opacity .3s;
  padding: 0;

  &:hover {
    opacity: .7;
  }
}

.introduction-booking {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
}

.booking-parameter {
  width: 831px;
  height: 80px;
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  padding: 16px 0;
  display: flex;
}

.booking-item {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 16px;

  &:not(:last-child) {
    border-right: 1px solid #EFEFEF;
  }

  .btn-brown {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.booking-name {
  font-size: 12px;
  line-height: 170%;
  color: #7A7A7A;
}

.booking-field {
  font-size: 16px;
  line-height: 170%;
  color: #000000;
}

.about {
  position: relative;
  padding: 64px 0 90px;

  &:after {
    content: '';
    width: 251px;
    height: 303px;
    top: 50px;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    background-image: url("../img/branch.svg");
  }
}

.about-subtitle {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #BCBCBC;
}

.about-title {
  margin: 17px 0;
}

.about-description {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 64px;
}

.about-text {
  font-size: 16px;
  line-height: 170%;
  color: #7A7A7A;
  max-width: 786px;
}

.more-link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  margin-right: 56px;
  z-index: 2;
  transition: color .3s;

  &:hover {
    color: #D7B56D;

    .more-btn:before {
      width: 10px;
      transform: translate(3px, -50%);
    }

    .more-btn:after {
      transform: translate(-50%, -50%) rotate(-45deg);

    }
  }
}

.more-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #D7B56D;
  border-radius: 50%;
  position: relative;
  margin-right: 24px;

  &:after {
    content: '';
    width: 5px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-6px, -50%) rotate(-45deg);
    height: 5px;
    border-right: 1px solid #D7B56D;
    border-bottom: 1px solid #D7B56D;
    display: block;
    transition: all .3s;
  }

  &:before {
    content: '';
    width: 44px;
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translateY(-50%);
    height: 1px;
    display: block;
    background-color: #D7B56D;
    transition: all .3s;
  }
}

.about-images {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.img-left {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 16px;

  img {
    width: 100%;
    max-width: 100%;
  }
}

.img-right {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 16px;

  img {
    width: 100%;
    max-width: 100%;
  }
}

#main-slider.swiper-container {
  width: 100%;
  position: relative;
  overflow: inherit;
}

#main-slider .swiper-slide {
  height: 737px;
  background-size: auto 100%;
  background-position: top left;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.rooms_image {
  width: 67.7%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.room-right {
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
  width: 31%;
  max-width: 31%;
  height: auto;
  padding: 80px;
  left: 67.7%;
  transform: translate(-48px, 46px);
  z-index: 1;
  min-height: 85%;
}

.room-name {
  padding-bottom: 30px;
  border-bottom: 1px solid #D7B56D;
}

.room-parameter {
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  margin-top: 20px;
}

.room-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #7A7A7A;
  margin-top: 20px;
}

.slider-link {
  position: absolute;
  bottom: 80px;
  right: 80px;
  margin: 0;

  .more-btn {
    margin: 0;
    border-color: #D7B56D;

    &:before {
      background-color: #D7B56D;
    }

    &:after {
      border-color: #D7B56D;
    }
  }
}

.slider-controls {
  position: absolute;
  align-items: center;
  top: 0;
  right: 64px;
  display: flex;
  z-index: 3;
}


#main-slider .slider-pagination {
  font-family: 'Kudryashev Headline';
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0 44px;
  height: 60px;
}

.arrow-prev, .arrow-next {
  position: relative;
  top: 10px;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    &.swiper-button-disabled {
      path {
        fill: #BCBCBC;
      }
    }

    path {
      fill: #D7B56D;
    }
  }
}

.swiper-button-disabled {
  path {
    fill: #BCBCBC;
  }
}

.rooms {
  padding: 85px 0 126px;
  background-color: #EFEFEF;
}

.rooms-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.rooms-text {
  flex: 0 0 50%;
  max-width: 50%;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #7A7A7A;
}

.restaurant {
  height: calc(100vh - 80px);
  padding: 71px 0 46px;
  min-height: 650px;

  .content {
    height: 100%;
  }
}

.restaurant-wrap {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-text {
  width: 715px;
  text-align: center;
}

.restaurant-title {
  color: #FFFFFF;
  margin: 0 0 20px;
}

.restaurant-subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  margin-bottom: 210px;
  color: #FFFFFF;
}

.restaurant-link {
  color: #FFFFFF;
  justify-content: center;
}

.restaurant-btn {
  border-color: #FFFFFF;

  &:before {
    background-color: #FFFFFF;
  }

  &:after {
    border-color: #FFFFFF;
  }
}

.entertainment {
  padding: 40px 0 80px;
}

.entertainment-title {
  margin: 0 0 67px;
  text-align: center;
}

.entertainment-list {
  padding: 0 85px;
  display: flex;
  flex-wrap: wrap;
}

.entertainment-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 16px;
  margin-bottom: 38px;
}

.entertainment-img {
  width: 100%;
  height: 0;
  padding-bottom: 113.6%;
  background: url(http://files.all-free-download.com//downloadfiles/wallpapers/1280_720/heihachi_mishima_tekken_7_4k_17496.jpg) no-repeat center;
  background-size: cover;
}

.entertainment-name {
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
  margin-top: 18px;
}

.discount {
  background-color: #EFEFEF;
  padding: 70px 0 90px;
}

.discount-title {
  margin-bottom: 64px;
  text-align: center;
}

.discount-slider {
  position: relative;
  padding: 0 185px;

  .swiper-wrapper, .swiper-container {
    position: static;
    cursor: pointer;
  }
}

.discount-img {
  width: 100%;
  height: 0;
  padding-bottom: 105.8%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.discount-name {
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
  margin-top: 18px;
}

.discount-prev, .discount-next {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  transform: translateY(-50%);

  &:hover {
    path {
      fill: #D7B56D;
    }
  }
}

.discount-next {
  right: 0;
}

.discount-prev {
  left: 0;
}

.maps {
  width: 100%;
  height: 588px;
  display: none;
  max-width: 100%;

  #map {
    height: 100%;
    width: 100%;
  }
}

.footer-top {
  padding: 60px 0;
  border-bottom: 1px solid #EFEFEF;
}

.footer-logo {
  margin: 0 auto 40px;
  width: 148px;
  height: auto;

  img {
    width: 100%;
  }
}

.footer-phone {
  text-align: center;
  text-decoration: none;
  color: black;
}

.footer-bottom-wrap {
  padding: 15px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer-address {
  width: 100%;
  display: block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  color: #000000;
  margin-top: 10px;

  svg {
    position: relative;
    top: 4px;
    margin-right: 13px;
  }
}

.footer-messenger {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    background-color: #EFEFEF;
    border-radius: 50%;
    margin: 0 12px;
    width: 56px;
    position: relative;
    height: 56px;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: black;
  }
}

.footer-bottom-left {
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #303030;
}

.footer-bottom-left a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #858585;
}

.interlab-icon-small {
  display: none;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

@media (max-width: 1920px) {
  .introduction {
    max-height: 1080px;
  }
  .restaurant {
    max-height: 1080px;
  }
}

@media (max-width: 1440px) {
  h1 {
    font-size: 50px;
    line-height: 76px;
  }
  .introduction-logo {
    width: 85px;
  }
  .introduction-text {
    transform: translateY(-50px);
  }
  h2 {
    font-size: 50px;
    line-height: 76px;
  }
  h3 {
    font-size: 40px;
    line-height: 61px;
  }
  .introduction {
    min-height: 640px;
  }
  .introduction-title {
    margin-bottom: 50px;
  }
  .btn {
    font-size: 14px;
    padding: 10px 13px;

    span {
      font-size: 15px;
    }
  }
  .header-fullscreen {
    padding: 37px 60px 50px;
  }
  .fullscreen-item:not(:first-child):before {
    font-size: 30px;
    line-height: 46px;
  }
  .fullscreen-item {
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 40px;
  }
  .fullscreen-logo {
    margin-bottom: 65px;
  }
  .btn-booking-fullscreen {
    margin: 25px auto 0;
    font-size: 30px;
    width: 295px;
    height: 56px;
  }
  .btn-booking-fullscreen span {
    font-size: 18px;
    margin-right: 24px;
  }
  .btn-lang-fullscreen {
    margin: 57px auto 0;
    font-size: 16px;
    padding: 10px 15px;
  }
  .about:after {
    content: '';
    width: 201px;
    height: 280px;
    top: 15px;
  }
  .header-burger span, .introduction-burger span {
    width: 32px;
  }
  .header-burger:before, .introduction-burger:before {
    width: 32px;
    top: 10px;
  }
  .header-burger:after, .introduction-burger:after {
    width: 32px;
    bottom: 10px;
  }
  .header-burger, .introduction-burger {
    width: 85px;
    height: 36px;
  }
  .about-text {
    font-size: 14px;
  }
  .about-title {
    margin: 10px 0;
  }
  .about-description {
    margin-bottom: 44px;
  }
  .about {
    padding: 40px 0 44px;
  }
  .rooms {
    padding: 50px 0 70px;
  }
  .room-right {
    padding: 30px;
    transform: translate(-28px, 28px);
  }
  h4 {
    font-size: 26px;
    line-height: 40px;
  }
  .room-name {
    padding-bottom: 12px;
  }
  .room-parameter {
    margin-top: 12px;
    font-size: 14px;
  }
  .room-text {
    font-size: 12px;
    margin-top: 12px;
  }
  #main-slider .slider-pagination {
    font-size: 30px;
    line-height: 46px;
  }
  #main-slider .swiper-slide {
    height: 460px;
  }
  .slider-link {
    bottom: 30px;
    right: 30px;
  }
  .restaurant-subtitle {
    font-size: 16px;
    margin-bottom: 110px;
  }
  .restaurant {
    padding: 60px 0 34px;
  }
  .entertainment {
    padding: 0 0 50px;
  }
  .entertainment-list {
    padding: 0 39px;
  }
  .entertainment-item {
    padding: 0 16px;
    margin-bottom: 24px;
  }
  .entertainment-title {
    margin-bottom: 40px;
  }
  .entertainment-name {
    font-size: 16px;
    margin-top: 24px;
  }
  .discount {
    padding: 26px 0 68px;
  }
  .discount-prev, .discount-next {
    width: 60px;
    height: 60px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
  .discount-slider {
    padding: 0 98px;
  }
  .discount-name {
    font-size: 16px;
    margin-top: 15px;
  }
  .footer-top {
    padding: 45px;
  }
  .footer-logo {
    width: 102px;
    margin-bottom: 20px;
  }
  .footer-address {
    margin-top: 20px;
    font-size: 14px;

    svg {
      width: 24px;
      height: 24px;
    }
  }
  .footer-messenger {
    margin-top: 20px;
  }
  .fullscreen-close {
    top: 25px;
    width: 90px;
    height: 90px;

    &:before, &:after {
      width: 32px;
    }
  }
  .maps {
    height: 390px;
  }
  .preloader-content {
    padding-top: 82px;
    position: absolute;
    width: 160px;

    img {
      max-width: 100%;
    }

    .preloader-first {
      &.to-top {
        transform: translateY(-82px);
      }
    }
  }
}

@media (max-width: 1199px) {
  .introduction.scaled, .introduction {
    background-size: cover;
  }
  .about-link {
    margin-right: 0;
  }
  .about-text {
    max-width: 75%;
  }
  .more-btn {
    margin-right: 20px;
  }
  .slider-controls {
    right: 0;
  }
  .room-right {
    max-width: 35%;
    width: 35%;
  }
  #main-slider .swiper-slide {
    height: 410px;
  }
  #main-slider .slider-pagination {
    font-size: 30px;
    line-height: 66px;
  }
  .content {
    padding: 0 30px;
  }
  .restaurant {
    max-height: 640px;
  }
  .restaurant-subtitle {
    margin-bottom: 80px;
  }
  .fullscreen-logo {
    width: 90px;
    margin-bottom: 40px;
  }
  .fullscreen-item {
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 36px;
  }
  .fullscreen-item:not(:first-child):before {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width: 1000px) {
  .preloader-content {
    padding-top: 60px;
    position: absolute;
    width: 100px;

    img {
      max-width: 100%;
    }

    .preloader-first {
      &.to-top {
        transform: translateY(-60px);
      }
    }
  }
  .btn-phone {
    display: none;
  }
  .btn-lang {
    display: none;
  }
  .fullscreen-logo {
    display: none;
  }
  .fullscreen-logo-mobile {
    display: inline-block;
    margin-bottom: 30px;
  }
  .introduction-header {
    display: none;
  }
  .introduction-text {
    transform: translateY(0);
    padding: 95px 0 0;
  }
  .introduction {
    min-height: 600px;
    max-height: 720px;
    background-position: bottom right;
  }
  .introduction-booking {
    max-width: 100%;
    bottom: 25px;
  }
  .booking-item {
    flex: 0 0 100%;
    max-width: 100%;

    &.arrival {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &.departure {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .btn-brown {
      max-width: 315px;
    }
  }
  .booking-parameter {
    width: 345px;
    height: 210px;
    flex-wrap: wrap;
  }
  .main-page .header {
    transform: translateY(0);
  }
  h1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 25px;
  }
  .footer-phone {
    font-size: 35px;
    line-height: 52px;
  }
  .btn-play {
    width: 42px;
    height: 42px;
  }
  .about-subtitle {
    font-size: 12px;
  }
  .about-text {
    font-size: 12px;
    max-width: 65%;
  }
  .about:after {
    width: 149px;
    height: 227px;
    top: 0;
  }
  .rooms-description {
    display: block;
    margin-bottom: 28px;
  }
  .rooms-title {
    margin-bottom: 10px;
  }
  .rooms-text {
    font-size: 14px;
    flex: unset;
    max-width: unset;
  }
  .slider-controls {
    position: relative;
    margin-top: 0;
  }
  .rooms_image {
    height: 0;
    padding-bottom: 69.8%;
    width: 100%;
  }
  .room-right {
    position: relative;
    left: 50%;
    transform: translate(-50%, -27px);
    width: calc(100% - 28px);
    max-width: 400px;
    height: 350px;
    min-height: unset;
  }
  #main-slider .swiper-slide {
    height: auto;
  }
  .rooms {
    padding: 25px 0;
  }
  .restaurant-subtitle {
    max-width: 550px;
    margin: 0 auto 30px;
  }
  .restaurant-link {
    margin-right: 0;
  }
  .restaurant {
    max-height: 500px;
  }
  .entertainment-item {
    flex: 0 0 33%;
    max-width: 33%;
    padding: 0 11px;
    animation-delay: 0s !important;
    transition-delay: 0s !important;
  }
  .entertainment-list {
    padding: 0;
    margin: 0 -11px;
  }
  .discount-slider {
    padding: 0;
  }
  .discount-prev, .discount-next {
    display: none;
  }
  .header-fullscreen {
    padding: 15px 30px;
    text-align: left;
  }
  .fullscreen-close {
    top: 5px;
    right: 20px;
    width: 60px;
    height: 60px;
  }
  .fullscreen-menu {
    display: block;
    text-align: center;
  }
  .fullscreen-item {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 12px;
    margin-right: 0;
    display: block;

    &:not(:first-child):before {
      content: none;
    }
  }
  .btn-booking-fullscreen {
    padding: 7px 11px;
    font-size: 20px;
    line-height: 30px;
    width: 210px;
    border-right: 4px;
    margin-top: 0;

    span {
      font-size: 20px;
      margin-right: 16px;
    }
  }
  .btn-lang-fullscreen {
    margin: 12px auto 0;
  }
  .btn-booking.btn-brown {
    margin-left: 30px;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.14em;
    text-transform: uppercase;

    span {
      position: relative;
      top: -1px;
      color: #BCBCBC;
      margin-right: 10px;
    }
  }
  .header {
    .content {
      padding-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .fullscreen-close {
    top: 0;
    right: 0;
  }
  .header {
    padding: 0;
  }
  .header.show {
    padding: 0;
  }
  .header-logo {
    height: 35px;

    img {
      max-height: 100%;
    }
  }

  .btn-booking.btn-brown {
    font-size: 10px;

    span {
      font-size: 11px;
    }
  }

  .header-burger {
    width: 60px;
    height: 60px;
    margin-left: 0;
    border-left: none;

    &:before {
      top: 20px;
    }

    &:after {
      bottom: 20px;
    }
  }

  .main-page .header-wrap, .header-wrap {
    padding: 0;
  }

  h1 {
    font-size: 32px;
    line-height: 140%;
  }

  .introduction-title {
    margin-bottom: 30px;
  }

  .btn-play {
    padding: 0;
  }

  .introduction {
    height: 620px;
  }

  .about-text {
    max-width: unset;
  }

  .about {
    padding: 30px 0;
  }

  .about-title {
    margin: 8px 0;
  }

  .about-description {
    display: block;
    z-index: 2;
    position: relative;
  }

  .more-link {
    font-size: 12px;
  }

  .more-btn {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .more-btn:before {
    width: 26px;
  }

  .about-link {
    margin-top: 15px;
  }

  .img-left, .img-right {
    overflow-x: hidden;

    img {
      width: auto;
      max-width: unset;
      height: 250px;
    }
  }

  .content {
    padding: 0 15px;
  }

  .slider-controls {
    padding: 0 14px;
  }

  .rooms {
    padding: 20px 0;
  }

  .rooms-text {
    font-size: 16px;
  }

  #main-slider .slider-pagination {
    font-size: 40px;
    line-height: 61px;
  }

  .restaurant {
    height: auto;
    max-height: unset;
    padding: 27px 0;
    min-height: unset;
  }

  .restaurant-wrap {
    height: 480px;
  }

  .restaurant-title {
    font-size: 40px;
    line-height: 61px;
  }

  .restaurant-subtitle {
    font-size: 14px;
    margin-bottom: 125px;
  }

  .entertainment-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .entertainment-title {
    margin-bottom: 24px;
  }

  .entertainment {
    padding-bottom: 24px;
  }

  #discount-pagination {
    text-align: center;
    margin-top: 30px;
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #7A7A7A;
  }

  .maps {
    height: 473px;
  }

  .footer-top {
    padding: 28px 15px 36px;
  }

  .footer-logo {
    width: 78px;
  }

  .footer-phone {
    font-size: 30px;
    line-height: 46px;
  }

  .footer-address {
    margin-top: 25px;

    svg {
      display: block;
      margin: 0 auto 5px;
      top: 0;
    }
  }

  .footer-messenger {
    margin-top: 36px;
  }

  .interlab-icon-big {
    display: none;
  }

  .interlab-icon-small {
    display: block;
  }

  .discount-title {
    margin-bottom: 24px;
  }

  .discount {
    padding-bottom: 24px;
  }

}

@media (max-width: 425px) {
  .btn-booking.btn-brown {
    margin-left: 0;
    padding-right: 0;
    font-size: 8px;
  }
  .header-burger:after {
    bottom: 23px;
    width: 24px;
  }
  .header-burger:before {
    top: 23px;
    width: 24px;
  }
  .header-burger span, .introduction-burger span {
    width: 24px;
  }
  #main-slider .slider-pagination {
    font-size: 30px;
    margin: 0 20px;
  }
  .room-right {
    padding: 15px;
  }
  h4 {
    font-size: 22px;
    line-height: 32px;
  }
  .entertainment-name {
    font-size: 14px;
    margin-top: 15px;
  }
}

@media (max-width: 374px) {
  h2 {
    font-size: 40px;
    line-height: 61px;
  }
  h3 {
    font-size: 35px;
    line-height: 50px;
  }
  .booking-parameter {
    width: 300px;
  }
}

.inner-page {
  .main {
    padding-top: 130px;
  }

  .header.show {
    .header-wrap {
      padding-top: 15px;
    }
  }

  .footer-top {
    padding: 44px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEFEF;
  }

  .footer-left {
    flex: 0 0 auto;
    max-width: 100%;
    display: flex;
    align-items: center;

    a {
      flex: 0 0 auto;
      max-width: 100%;;
      display: flex;
      align-items: center;
      margin: 0;
    }

    .footer-phone {
      margin-right: 64px;
    }
  }

  .icon-fon {
    margin-right: 16px;
    width: 56px;
    height: 56px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 50%;

    .icon, svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #BCBCBC;
      font-size: 17px;
    }
  }

  .contact-text {
    font-size: 16px;
    line-height: 170%;

    &:hover {
      text-decoration: underline;
    }
  }

  .footer-messenger {
    margin-top: 0;
  }

  .messenger-item {
    width: 56px;
    height: 56px;
    background-color: #D7B56D;
    position: relative;
    margin-left: 48px;
    margin-right: 0;

    .icon {
      color: #FFFFFF;
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

}

@media (max-width: 1199px) {
  .inner-page {
    .footer-top {
      padding: 30px;
    }

    .messenger-item {
      width: 45px;
      height: 45px;
      margin-left: 30px;
    }

    .icon-fon {
      width: 45px;
      height: 45px;

      .icon {
        margin-right: 10px;
      }
    }

    .contact-text {
      font-size: 14px;
    }
  }
}

@media (max-width: 1000px) {
  .inner-page {
    .main {
      padding-top: 85px;
    }

    .header-logo {
      height: 35px;
    }

    .header-wrap {
      padding: 30px 0 15px;
    }

    .footer-left {
      display: block;

      .footer-phone {
        margin: 0 0 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .inner-page {
    .header-wrap {
      padding: 20px 0 0;
    }

    .header.show {
      .header-wrap {
        padding: 0;
      }
    }

    .footer-top {
      display: block;
    }

    .footer-messenger {
      margin-top: 20px;
    }

    .contact-text {
      text-align: left;

      display: inline-block;
    }

    .icon-fon {
      flex: 0 0 45px;
      max-width: 45px;
    }
  }
}

.breadcrumb {
  margin-bottom: 32px;
  padding: 6px 0;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color .3s;

  &:not(:last-child):after {
    content: '–';
    display: inline-block;
    margin: 0 5px;
  }

  &:hover {
    color: #D7B56D;
  }
}

.contact {
  margin-bottom: 128px;
}

.page-title {
  margin-bottom: 64px;
}

.contact-wrap {
  display: flex;
}

.contact-list {
  flex: 0 0 auto;
  max-width: 100%;
  padding-right: 80px;
}

.contact-item {
  margin-bottom: 50px;
}

.contact-name {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #BCBCBC;
}

.contact-link {
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
  text-decoration: none;
}

.contact-map {
  flex-basis: 0;
  flex-grow: 1;
  min-height: 100%;
  width: 100px;

  #map {
    width: 100%;
    height: 100%;
  }
}

.contact-messenger {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  a {
    text-decoration: none;
    background-color: #EFEFEF;
    border-radius: 50%;
    margin: 0 50px 0 0;
    width: 56px;
    position: relative;
    height: 56px;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: black;
  }
}

.contact-form {
  text-align: center;
  margin-bottom: 128px;
}

.contact-form-title {
  margin-bottom: 24px;
}

.contact-checkbox {
  margin-bottom: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  label, label a {
    font-size: 12px;
    line-height: 170%;
    color: #000000;
    cursor: pointer;
  }
}

.contact-politic {
  visibility: hidden;
  width: 20px;
  height: 20px;
  margin-right: 10px;

  &:before {
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    display: inline-block;
    visibility: visible;
    border-radius: 1px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
  }

  &:checked:before {
    background-image: url("../img/chek.svg");
  }
}

.error-message {
  display: none;
  position: relative;
  z-index: 1;
  transform: translateY(-10px);
  font-size: 18px;
  line-height: 0px;
  text-align: center;
  color: #FF0000;
}

.success-message {
  display: none;
  color: #D7B56D;
}

.error .error-message {
  display: block;
}

.success {
  .contact-email {
    display: none;
  }

  .contact-checkbox {
    display: none;
  }
}

.contact-email {
  display: flex;
  align-items: center;
  justify-content: center;

  label {
    display: inline-block;
    width: 750px;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 22px;
    line-height: 150%;
    color: #000;
    text-align: center;
    padding: 8px;
  }

  .contact-submit {
    font-size: 16px;
    line-height: 170%;
    padding: 10px 30px;
    margin: 0 0 0 40px;
  }
}

@media (max-width: 1440px) {
  .contact-name {
    font-size: 12px;
  }
  .contact-link {
    font-size: 18px;
  }

  .contact-item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .page-title {
    margin-bottom: 40px;
  }
  h6 {
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 1199px) {
  h5 {
    font-size: 25px;
    line-height: 32px;
  }

  .contact-email {
    input {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
      padding: 6px;
      font-size: 18px;
    }

    .contact-submit {
      padding: 8px 20px;
      font-size: 14px;
    }
  }
}

@media (max-width: 1000px) {
  h2 {
    font-size: 30px;
    line-height: 42px;
  }
  h6 {
    font-size: 16px;
    line-height: 24px;
  }
  .contact {
    margin-bottom: 60px;
  }
  .contact-item {
    flex: 0 0 50%;
    margin-bottom: 30px;
    max-width: 50%;
    padding-right: 40px;
  }
  .contact-form-title {
    max-width: 600px;
    display: block;
    margin: 0 auto 24px;
  }
  .contact-item:last-child {
    margin-bottom: 30px;
  }
  .contact-map {
    flex: unset;
    max-width: unset;
    width: 100%;
    height: 400px;
  }
  .contact-list {
    padding-right: 0;
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .contact-wrap {
    display: block;
  }
  .contact-email {
    position: relative;

    .contact-submit {
      margin-left: 20px;
    }
  }
}

@media (max-width: 767px) {
  .contact-form {
    margin-bottom: 60px;
  }
  .breadcrumb-list {
    flex-wrap: wrap;
  }
  .error-message {
    position: absolute;
    width: 100%;
    top: -20px;
    font-size: 12px;
    text-align: left;
    line-height: 120%;
  }
  .contact-item {
    padding-right: 15px;
    margin-bottom: 20px;
  }
  .contact-name {
    font-size: 10px;
  }
  .contact-link {
    font-size: 16px;
  }
  .contact-messenger {
    .icon {
      font-size: 18px;
    }

    a {
      margin-right: 20px;
      width: 45px;
      height: 45px;
    }
  }
}

@media (max-width: 640px) {
  .contact-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .contact-email input {
    text-align: left;
  }
  .contact-map {
    height: 350px;
  }
}

@media (max-width: 425px) {
  .contact-email .contact-submit {
    padding: 6px 11px;
    font-size: 12px;
  }
  .contact-email input {
    padding: 4px;
    font-size: 16px;
  }
  .contact-checkbox label, .contact-checkbox label a {
    font-size: 10px;
  }
  .contact-politic:before {
    width: 14px;
    height: 14px;
  }
}

.stock {
  margin-bottom: 96px;
}

.stock-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.stock-item {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 0 16px;
  margin-bottom: 40px;
  text-decoration: none;
}

.stock-img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stock-date {
  font-size: 14px;
  line-height: 170%;
  color: #7A7A7A;
  margin-top: 13px;
}

.stock-name {
  margin-top: 10px;
  color: #000
}

.stock-inner {
  margin-bottom: 128px;
}

.stock-wrap {
  display: flex;

  .stock-img {
    flex: 0 0 32.4%;
    max-width: 32.4%;
    padding-bottom: 32.4%;
  }
}

.stock-description {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding-left: 32px;

  p {
    font-size: 16px;
    line-height: 170%;
    color: #000000;
    margin: 20px 0 0;
  }

  .stock-contact {
    padding-top: 20px;
  }
}

.stock-inner-date {
  font-size: 22px;
  line-height: 150%;
  color: #7A7A7A;
}

.stock-ul {
  padding-left: 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #000000;
}

@media (max-width: 1440px) {
  .stock-inner-date {
    font-size: 18px;
  }
  .stock-description p, .stock-ul {
    font-size: 14px;
    margin-top: 15px;
  }
  .stock-ul {
    font-size: 14px;
    margin-top: 15px;
  }
}

@media (max-width: 1199px) {
  .stock-description {
    padding-left: 20px;
  }
  .stock-description .stock-contact {
    padding: 15px;
  }
}

@media (max-width: 1000px) {
  .stock-inner-date {
    font-size: 16px;
  }
  .stock-description p, .stock-ul {
    font-size: 12px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .stock-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px;
    margin-bottom: 30px;
  }
  .stock-list {
    margin: 0 -10px;
  }
  .stock-date {
    font-size: 12px;
  }
  .stock-wrap .stock-img {
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 50%;
  }
  .stock-inner {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .stock-description {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
  }
  .stock-wrap .stock-img {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 100%;
    margin-bottom: 20px;
  }
  .stock-wrap {
    flex-wrap: wrap;
  }
  .stock-inner-date {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .stock-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .stock-list {
    margin: 0;
  }
  .stock-name {
    margin-top: 0;
  }
}


.about-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about-breadcrumb-item {
  font-family: 'Kudryashev Headline';
  font-weight: normal;
  font-size: 1.35vw;
  line-height: 170%;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
  position: relative;
  margin-bottom: 15px;

  &:hover, &.active {
    span {
      text-decoration-line: underline;
    }
  }

  &:not(:first-child):before {
    content: '/';
    letter-spacing: 0.02em;
    color: #D7B56D;
    margin: 0 1.04vw;
  }
}

.about-page-image {
  width: 100%;
  padding-bottom: 50.2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 64px;
}

.about-wrap {
  display: flex;
  margin-bottom: 64px;
}

.about-left {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 64px 96px 64px 64px;

  p {
    text-align: justify;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 170%;
    color: #000000;
  }
}

.about-presentation {
  padding: 10px 30px;
  width: max-content;
  margin: 50px auto 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 170%;

  img {
    margin-left: 10px;
  }
}

.about-right {
  padding: 64px 0;
  background-color: #EFEFEF;
  flex: 0 0 50%;
  max-width: 50%;
}

.about-right-title {
  margin-bottom: 48px;
  text-align: center;
}

.about-right-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-right-item {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 44px;
}

.about-right-icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: relative;
  background-color: #FFFFFF;
  margin: 0 auto 10px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 24px;
  }
}

.about-right-name {
  font-family: 'Kudryashev Headline';
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.02em;
}

.about-bottom {
  background-image: url("../img/hotel-bottom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 64px;
  margin-bottom: 128px;
}

.about-bottom-text {
  background-color: #FFFFFF;
  width: 640px;
  padding: 64px;

  h4 {
    margin-bottom: 64px;
    text-align: center;
  }

  p {
    font-size: 18px;
    line-height: 170%;
    text-align: justify;
    color: #000000;
  }
}

@media (max-width: 1440px) {
  .about-breadcrumb-item {
    &:not(:first-child):before {
      margin: 0 1vw;
    }

  }
  .about-left {
    padding: 50px 82px 50px 50px;

    p {
      font-size: 16px;
    }
  }
  .about-right {
    padding: 50px 0;
    height: max-content;
  }
  .about-bottom-text {
    padding: 50px;
    width: 500px;

    p {
      font-size: 16px;
    }

    h4 {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1199px) {
  .about-right-name {
    font-size: 18px;
    line-height: 26px;
  }
  .about-right-item {
    margin-bottom: 30px;
  }
  .about-left {
    padding: 50px 32px 50px 0;

    p {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  .about-presentation {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  .about-breadcrumb {
    justify-content: center;
  }
  .about-breadcrumb-item {
    flex: 0 0 auto;
    font-size: 16px;
  }

  .about-bottom-text {
    padding: 30px;
    width: 420px;
  }
  .about-bottom-text {
    padding: 30px;
    width: 420px;

    p {
      font-size: 14px;
    }
  }
  .about-bottom {
    padding: 30px;
  }
  .about-wrap {
    flex-wrap: wrap;
  }
  .about-left {
    padding: 30px 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 30px 0 0;
  }
  .about-right-icon {
    width: 56px;
    height: 56px;

    img {
      max-height: 20px;
    }
  }
  .about-right-name {
    font-size: 16px;
  }
  .about-right-item {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (max-width: 767px) {
  .about-bottom-text {
    padding: 30px;
    width: 420px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, .9);
  }
  .about-bottom-text h4 {
    margin-bottom: 30px;
  }
  .about-right-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .about-page-image {
    margin-bottom: 44px;
  }
  .about-bottom {
    padding: 25px;
    margin-bottom: 60px;
  }
  .about-bottom-text {
    padding: 25px;
  }
  .about-wrap {
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  .about-page-image {
    margin-bottom: 0;
  }
  .about-bottom {
    background: none;
    padding: 0;
  }
  .about-bottom-text {
    background: #FFFFFF;
    padding: 25px 0;
  }
  .about-right-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 375px) {
  .about-right-icon {
    background-color: #efefef;
  }
  .about-right {
    background-color: #FFFFFF;
  }
}

.room-list {
  display: flex;
  margin: 0 -16px;
  flex-wrap: wrap;

}

.room-item {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 16px;
  margin-bottom: 100px;
  position: relative;

  .room-link {
    position: absolute;
    bottom: 60px;
    right: 50px;
    color: #FFFFFF;
    margin-right: 0;
  }

  .room-btn {
    border-color: #fff;

    &:before {
      background-color: #FFFFFF;
    }

    &:after {
      border-color: #FFFFFF;
    }
  }
}

.room-img {
  width: 100%;
  padding-bottom: 68.1%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  position: relative;
}

.inner-page .room-name {
  font-family: 'Kudryashev Headline';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 61px;
  letter-spacing: 0.02em;
  color: #000000;
  text-align: center;
  margin: 0 0 30px;
  padding: 0;
  border: none;
}

.room-line {
  width: 200px;
  height: 1px;
  margin: 0 auto 30px;
  background-color: #bcbcbc;
}

.room-parameter {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.room-parameter-item {
  flex: 0 0 auto;
  max-width: 100%;
  margin: 0 25px;
}

.room-parameter-icon {
  text-align: center;
}

.room-parameter-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #000000;
  margin: 0 auto 30px;
  max-width: 576px;
  width: 90%;
}

.room-parameter-btn {
  margin: 0 auto;
}

.room-title-1 {
  width: 100%;
  text-align: center;
  margin: 50px 0 64px;
}

.room-title-2 {
  width: 100%;
  margin: 64px 0 128px;
  text-align: center;
}

.room-inner-item {
  padding-bottom: 56%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.room-inner-description {
  display: flex;
  width: 100%;
}

.room-service {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 50px;
  background-color: #EFEFEF;
}

.room-service-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.room-service-item {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .icon {
    width: 36px;
    height: 36px;
    font-size: 36px;
    color: #D7B56D;
    margin-right: 32px;
  }
}

.room-service-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #000000;
  padding-right: 30px;
}

.room-service-title {
  margin-bottom: 48px;
}

.room-inner-right {
  padding-left: 80px;
  padding-top: 50px;

  h5 {
    margin-bottom: 10px;
  }
}

.room-cost {
  margin-bottom: 50px;
}

.room-cost-bottom {
  display: flex;
  align-items: center;

  p {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

.room-cost-btn {
  flex: 0 0 auto;
  max-width: 100%;
  margin-left: 50px;
}

.in-room {
  margin-bottom: 50px;

  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #000000;
  }
}

.room-booking-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  text-align: justify;
}

.room-service-title {
  text-align: center;
}

.room-cost-bottom p {
  font-size: 22px;
  line-height: 150%;
  text-align: justify;
  color: #000000;
}

@media (max-width: 1440px) {
  .inner-page .room-name {
    font-size: 30px;
    line-height: 46px;
  }
  .room-item {
    .room-link {
      font-size: 12px;
    }

    .room-btn {
      width: 30px;
      height: 30px;

      &:before {
        width: 30px;
      }
    }

    .room-link {
      right: 40px;
      bottom: 40px;
    }
  }
  .inner-page .room-name {
    font-size: 26px;
    line-height: 36px;
  }
  .room-parameter-description {
    font-size: 14px;
    width: 100%;
  }
  .room-service {
    padding: 30px;
  }
  .room-service-name {
    font-size: 14px;
  }
  .room-service-item .icon {
    margin-right: 25px;
  }
}

@media (max-width: 1199px) {
  .in-room p {
    font-size: 14px;
  }
  .room-booking-text {
    font-size: 14px;
  }
  .room-cost-btn {
    margin-left: 30px;
  }
  .room-cost-bottom p {
    font-size: 18px;
  }
  .room-inner-right {
    padding-left: 50px;
  }
  .room-service-item .icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .room-item {
    margin-bottom: 60px;

    .room-link {
      right: 25px;
      bottom: 20px;
    }
  }
  .inner-page .room-name {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .room-line {
    margin-bottom: 20px;
  }
  .room-img {
    margin-bottom: 20px;
  }
  .room-parameter {
    margin-bottom: 20px;
  }
  .room-list {
    display: block;
    margin: 0 0 60px;
  }
  .room-inner-description {
    display: block;
  }
  .room-service {
    flex: unset;
    max-width: unset;
  }
  .room-service-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .room-inner-right {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .room-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .room-parameter-name {
    font-size: 12px;
  }
  .room-service-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 15px;
  }
  .room-cost-bottom p {
    font-size: 16px;
  }
  .room-booking-text {
    font-size: 12px;
  }
  .room-service {
    padding: 15px;
  }
  .room-cost {
    margin-bottom: 30px;
  }
  .in-room {
    margin-bottom: 30px;
  }
.room-title-2{
  margin: 40px 0 60px;
}
}

@media (max-width: 575px) {
  .room-service-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .room-item {
    padding: 0;

    .room-link {
      right: 20px;
    }
  }
  .room-parameter-description {
    font-size: 12px;
    width: 100%;
  }
  .room-cost-bottom{
    display: block;
  }
  .room-cost-btn{
    margin-left: 0;
    margin-top: 15px;
  }
}