* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  position: relative;
}

h1 {
  font-family: 'Arsenal';
  font-weight: normal;
  font-size: 64px;
  line-height: 130%;
  color: #FFFFFF;
}

h2 {
  font-family: 'Arsenal';
  font-weight: normal;
  font-size: 46px;
  line-height: 54px;
  color: #303030;
}

.content {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
}

.header-phone {
  padding-left: 32px;
  position: relative;
  display: block;
}
.header-phone a {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}
.header-phone a:before {
  content: '';
  height: 100%;
  width: 1px;
  background-color: #FFFFFF;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .2;
}

.header-menu-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 16px;
  text-decoration: none;
  position: relative;
}
.header-menu-item.header-menu-flat:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #F6B835;
  bottom: -2px;
  -webkit-transition: width .3s;
  transition: width .3s;
}
.header-menu-item:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #F6B835;
}
.header-menu-item.header-menu-disable {
  line-height: 24px;
  opacity: 0.5;
  color: #FFFFFF;
}

.menu-item-2lvl {
  display: none;
}

.introduction {
  overflow: hidden;
  background-image: url("../img/kuibishev-main.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 550px;
  padding-top: 126px;
  position: relative;
}

.introduction-title {
  margin-bottom: 34px;
}

.introduction-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  padding-left: 20px;
  border-left: 2px solid #fff;
  width: 380px;
}

.introduction-bottom {
  bottom: 46px;
  width: 100%;
  position: absolute;
}

.introduction-flats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.introduction-flat-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 0 20px;
}
.introduction-flat-item:nth-child(1) .introduction-flat-wrap {
  background-color: #F6B835;
}
.introduction-flat-item:nth-child(2) .introduction-flat-wrap {
  background-color: #FF5C30;
}
.introduction-flat-item:nth-child(3) .introduction-flat-wrap {
  background-color: #8A409B;
}
.introduction-flat-item:nth-child(4) .introduction-flat-wrap {
  background-color: #E31A3E;
}

.introduction-flat-wrap {
  padding: 24px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transition: padding .3s;
  transition: padding .3s;
}
.introduction-flat-wrap .icon-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 17px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.introduction-flat-wrap:hover {
  padding: 30px 20px;
}

.flats-type {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 10px;
  display: block;
}

.flats-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  display: block;
}

.about {
  padding: 60px 0 82px;
  border-bottom: 1px solid #E7E7E7;
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 65px;
}

.about-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 330px;
          flex: 0 0 330px;
  max-width: 330px;
}

.about-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #303030;
}

.btn-link {
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FD9827;
  padding: 9.5px 26px 9.5px 0;
}
.btn-link:hover {
  color: #FF5C30;
}
.btn-link .icon-right {
  margin: 2px 0 0 10px;
  position: relative;
  top: 2px;
}

.about-more {
  width: 105px;
  margin-top: 15px;
}

.about-slider {
  width: 100%;
  height: 620px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.about-slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 57px;
  bottom: 37px;
  z-index: 1;
}

.about-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}

.about-button-prev, .about-button-next {
  width: 55px;
  height: 55px;
  margin-right: 22px;
  z-index: 1;
  position: relative;
  cursor: pointer;
  background: #E31A3E;
  border-radius: 50%;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.about-button-prev span, .about-button-next span {
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about-button-prev:hover, .about-button-next:hover {
  background-color: #BB1432;
}

.advantage {
  padding: 60px 0 100px;
  border-bottom: 1px solid #E7E7E7;
}

.advantage-title {
  margin-bottom: 60px;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 -16px;
}

.advantage-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 16px;
}
.advantage-item:nth-child(1n) .advantage-name {
  background-color: #E31A3E;
}
.advantage-item:nth-child(2n) .advantage-name {
  background-color: #FF5C30;
}
.advantage-item:nth-child(3n) .advantage-name {
  background-color: #F6B835;
}
.advantage-item:nth-child(4n) .advantage-name {
  background-color: #8A409B;
}
.advantage-item:hover .advantage-img {
  background-size: auto 120%;
}
.advantage-item:hover .advantage-name {
  bottom: 20px;
}

.advantage-img {
  height: 384px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.advantage-name {
  position: absolute;
  bottom: 10px;
  left: -10px;
  padding: 16px;
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  width: auto;
  -webkit-transition: bottom .3s;
  transition: bottom .3s;
}

.location {
  padding-top: 52px;
}

.location-title {
  margin-bottom: 52px;
}

.location-map {
  position: relative;
  height: 640px;
  width: 100%;
}

.location-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.location-bus, .location-minibus {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #303030;
  margin-right: 30px;
}

.location-bus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}
.location-bus-item span {
  background-color: #3DB300;
  border-radius: 3px;
  padding: 3px 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-right: 4px;
}

.location-minibus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}
.location-minibus-item span {
  background-color: #B244C9;
  border-radius: 3px;
  padding: 3px 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-right: 4px;
}

.location-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.location-right-item {
  cursor: pointer;
  padding: 3px 10px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #303030;
  margin-left: 20px;
  background: #F7F7F7;
  border-radius: 18px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.location-right-item .location-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.location-right-item .location-circle span {
  font-size: 16px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: color .3s;
  transition: color .3s;
}
.location-right-item.location-book .location-circle {
  background-color: #FF2D79;
}
.location-right-item.location-rocking-horse .location-circle {
  background-color: #A8C15D;
}
.location-right-item.location-shopping-cart .location-circle {
  background-color: #227FB3;
}
.location-right-item.location-dumbbell .location-circle {
  background-color: #5BAB5F;
}
.location-right-item.location-cross .location-circle {
  background-color: #3ABDEB;
}
.location-right-item:hover, .location-right-item.active {
  color: #FFFFFF;
}
.location-right-item:hover .location-circle, .location-right-item.active .location-circle {
  background-color: #FFFFFF;
}
.location-right-item:hover.location-book, .location-right-item.active.location-book {
  background-color: #FF2D79;
}
.location-right-item:hover.location-book span, .location-right-item.active.location-book span {
  color: #FF2D79;
}
.location-right-item:hover.location-rocking-horse, .location-right-item.active.location-rocking-horse {
  background-color: #A8C15D;
}
.location-right-item:hover.location-rocking-horse span, .location-right-item.active.location-rocking-horse span {
  color: #A8C15D;
}
.location-right-item:hover.location-shopping-cart, .location-right-item.active.location-shopping-cart {
  background-color: #227FB3;
}
.location-right-item:hover.location-shopping-cart span, .location-right-item.active.location-shopping-cart span {
  color: #227FB3;
}
.location-right-item:hover.location-dumbbell, .location-right-item.active.location-dumbbell {
  background-color: #5BAB5F;
}
.location-right-item:hover.location-dumbbell span, .location-right-item.active.location-dumbbell span {
  color: #5BAB5F;
}
.location-right-item:hover.location-cross, .location-right-item.active.location-cross {
  background-color: #3ABDEB;
}
.location-right-item:hover.location-cross span, .location-right-item.active.location-cross span {
  color: #3ABDEB;
}

.footer {
  background: #F6F6F6;
  padding: 72px 0 0;
}

.footer-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  height: 31px;
  margin-bottom: 47px;
}
.footer-logo img {
  height: 100%;
}

.footer-messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-messenger-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54px;
          flex: 0 0 54px;
  max-width: 54px;
  position: relative;
  height: 54px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-right: 14px;
}
.footer-messenger-item a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #303030;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.footer-messenger-item a:hover {
  color: #FF5C30;
}
.footer-messenger-item span {
  font-size: 21px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-menu-item {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: #303030;
  margin-bottom: 26px;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.footer-menu-item:hover {
  color: #FF5C30;
}

.footer-contacts-name {
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  color: #858585;
}

.footer-contacts-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 175%;
  color: #303030;
  text-decoration: none;
}

.footer-contacts-item {
  margin-bottom: 26px;
}

.footer-bottom-wrap {
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom-left {
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #303030;
}
.footer-bottom-left a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #858585;
}

.footer-bottom-right {
  height: 40px;
}
.footer-bottom-right img {
  height: 100%;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

@media (max-width: 1440px) {
  .location-map {
    height: 443px;
  }
}
