* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  overflow-x: hidden;
  padding-top: 50px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;

  &__list {
    padding: 0 15px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    max-width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    width: 100%;
    transform: translateY(-100%);
    z-index: 1;
    transition: transform .4s;
    box-shadow: 0 0 5px #000000;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }

    &.show {
      transform: translateY(0);
    }

  }

  &__item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border: 1px solid #000;
    border-radius: 8px;
    min-width: 140px;
  }

  &__icon {
    flex: 1 0 24px;
    max-width: 24px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-left: 8px;
  }

  &__top {
    padding: 15px;
    z-index: 3;
    position: relative;
    background-color: #fff;
  }

  .header__search {
    width: 100%;
    height: 36px;
    border-radius: 8px;
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 22px;
    right: 27px;
    background: none;
    outline: none;
    border: none;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.slider {
  max-width: 75%;
  padding: 60px 15px;

  h2 {
    margin-bottom: 24px;
  }

  .swiper {
    overflow: unset;
  }
}

.slide__item {
  width: 100%;
  border-radius: 8px;
  height: 280px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  background-image: linear-gradient(90deg, #b9deed, #efefef);

  span {
    text-align: center;
    display: block;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .header__list{
    padding-bottom: 5px;
  }
}