body {
  background-color: #d2743d;
  background-image: url(../images/back-square.svg);
  background-repeat: repeat;
  background-position: top left;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}
h2 {
  font-size: 40px;
  line-height: 53px;
}
.section-title {
  font-size: 40px;
  line-height: 53px;
  color: #fff;
  font-weight: normal;
  margin-top: 95px;
}
.section-title span {
  font-weight: bold;
}
button {
  border: none;
  background-color: unset;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.more-btn {
  height: 93px;
  padding: 35px 53px;
  font-size: 20px;
  line-height: 24px;
  background-color: #E36934;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 30px;
}
.more-btn img {
  width: 10px;
  height: 18px;
  margin-left: 24px;
  position: relative;
  top: -3px;
}
.content {
  width: 100%;
  max-width: 1310px;
  padding: 0 20px;
  margin: 0 auto;
}
.header {
  padding-top: 25px;
  padding-bottom: 9px;
}
.header .row {
  height: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .row .col-auto .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .row .col-auto .logo img {
  height: 100%;
  position: relative;
  z-index: 2;
}
.header .row .col-auto .logo .logo-descr {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 17px;
  margin: 0 0 0 17px;
  border-left: 1px solid #fff;
  color: #fff;
  position: relative;
  z-index: 2;
}
.header .row .col-auto .logo::before {
  content: "";
  width: 777px;
  height: 777px;
  position: absolute;
  bottom: -72px;
  background-image: url(../images/ellipse.svg);
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header .row .col-auto .works-place {
  color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header .row .col-auto .call-back {
  position: relative;
  z-index: 2;
  text-align: right;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 18px;
  margin-bottom: 8px;
}
.header .row .col-auto .call-back a:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 21px;
  margin-right: 20px;
  position: relative;
  background-image: url(../images/phone.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: 5px;
}
.header .row .col-auto .call-back span {
  font-weight: bold;
}
.header .row .col-auto .call-back .call-btn {
  text-align: right;
  color: #fff;
  font-size: 16px;
  height: 19px;
  width: 136px;
  height: 24px;
  border-bottom: 1px dotted #fff;
}
.main .exp-descr {
  padding-bottom: 291px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #f1f1f1));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #f1f1f1 50%);
  background-position: 50%;
}
.main .exp-descr .sections-description {
  padding-top: 92px;
  display: inline-block;
  padding-right: 60px;
  position: relative;
}
.main .exp-descr .sections-description::before {
  content: "";
  height: 727px;
  width: 767px;
  position: absolute;
  z-index: 1;
  top: 115px;
  left: -607px;
  background-image: url(../images/triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main .exp-descr .sections-description::after {
  content: "";
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
  top: -100px;
  left: 72%;
  background-image: url(../images/sportsmen.png);
  width: 1057px;
  height: 994px;
}
.main .exp-descr .sections-description .section-title {
  position: relative;
  z-index: 2;
  font-size: 34px;
  line-height: 47px;
  color: #fff;
  margin-top: 0;
}
.main .exp-descr .sections-description .section-text {
  position: relative;
  z-index: 2;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  max-width: 539px;
  color: #fff;
  margin-top: 54px;
}
.main .exp-descr .sections-description .section-text span {
  font-weight: bold;
}
.main .exp-descr .sections-description .rate-projects {
  position: relative;
  z-index: 2;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  max-width: 340px;
  margin-top: 70px;
}
.main .exp-descr .sections-description .rate-projects span {
  font-weight: bold;
}
.main .exp-descr .sections-description .more-btn {
  position: relative;
  z-index: 2;
  color: #212F3C;
  background-color: #fff;
}
.main .tc-ss {
  padding-bottom: 123px;
  position: relative;
  padding-top: 332px;
  background-color: #f1f1f1;
}
.main .tc-ss .ranks {
  top: 0;
  position: absolute;
  -webkit-box-shadow: 0 10px 40px rgba(114, 114, 114, 0.1);
          box-shadow: 0 10px 40px rgba(114, 114, 114, 0.1);
  margin: 0 auto;
  background-color: #fff;
  width: auto;
  padding: 0 22px;
  border-radius: 5px;
  -webkit-transform: translateY(-118px);
          transform: translateY(-118px);
}
.main .tc-ss .ranks .rank-item {
  width: 295px;
  color: #3B4650;
  padding: 45px 32px 31px;
}
.main .tc-ss .ranks .rank-item .rank-img {
  max-width: 90px;
  max-height: 79px;
  margin: 0 auto;
}
.main .tc-ss .ranks .rank-item .rank-img img {
  max-width: 100%;
  max-height: 100%;
}
.main .tc-ss .ranks .rank-item .rank-title {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 32px;
}
.main .tc-ss .ranks .rank-item .rank-descr {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}
.main .tc-ss .section-title {
  text-align: center;
  color: #212F3C;
  margin-bottom: 60px;
}
.main .tc-ss .tc-ss-description {
  position: relative;
  height: 732px;
}
.main .tc-ss .tc-ss-description .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .tc-ss .tc-ss-description .tc-ss-text {
  max-width: 444px;
}
.main .tc-ss .tc-ss-description .tc-ss-text p {
  color: #212F3C;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.main .tc-ss .tc-ss-description .tc-ss-text p span {
  font-weight: bold;
}
.main .tc-ss .tc-ss-description .tc-ss-text .more-btn {
  background-color: #E36934;
  color: #fff;
  margin-top: 0;
}
.main .tc-ss .tc-ss-description .tc-ss-img {
  border-radius: 42px 0 0 42px;
  width: auto;
  height: 100%;
  left: 50%;
  position: absolute;
  background-color: #d2743d;
  background-image: url(../images/back-square.svg);
  background-repeat: repeat;
}
.main .tc-ss .tc-ss-description .tc-ss-img img {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 0;
  left: -11.5%;
}
.main .visualization {
  padding-top: 95px;
  background-color: #f1f1f1;
}
.main .visualization .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .visualization .section-title {
  text-align: center;
  color: #212F3C;
  margin-top: 0;
  margin-bottom: 18px;
}
.main .visualization .visual-description {
  padding-top: 64px;
}
.main .visualization .visual-description p {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.main .visualization .visual-description p::before {
  content: url(../images/drop.svg);
  width: 13px;
  height: 9px;
  display: inline-block;
  margin-right: 17px;
  position: absolute;
  top: 0;
  left: 0;
}
.main .visualization .visual-description p span {
  font-weight: bold;
}
.main .visualization .visual-description .more-btn {
  padding: 25px 32px;
  margin-top: 17px;
}
.main .visualization .visual-description .more-btn img {
  width: 34px;
  height: 43px;
}
.main .visualization .visual-img img {
  width: 100%;
  height: auto;
}
.main .slider-block {
  position: relative;
  max-width: 1480px;
  margin: 0 auto;
}
.main .slider-block .prev.slick-arrow,
.main .slider-block .next.slick-arrow {
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 23px;
  height: 42px;
  cursor: pointer;
}
.main .slider-block .prev.slick-arrow {
  background-image: url(../images/prev-arrow.svg);
  left: 0;
}
.main .slider-block .next.slick-arrow {
  background-image: url(../images/next-arrow.svg);
  right: 0;
}
.main .competition {
  background-color: #f1f1f1;
  padding-top: 152px;
}
.main .competition .section-title {
  text-align: center;
  color: #212F3C;
  margin-top: 0;
}
.main .competition .subtitle {
  text-align: center;
  margin-top: 7px;
  font-size: 20px;
  line-height: 28px;
}
.main .competition .competition-slider {
  margin: 0 auto 0;
  max-width: 1400px;
  padding-left: 55px;
  padding-right: 40px;
  padding-bottom: 30px;
  width: 100%;
}
.main .competition .competition-slider .slick-list {
  height: 416px;
}
.main .competition .competition-slider .slider-item {
  background-color: #fff;
  padding: 10px;
  margin: 0 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(112, 112, 112, 0.1);
          box-shadow: 0 20px 20px rgba(112, 112, 112, 0.1);
  height: auto;
}
.main .competition .competition-slider .slider-item .img-block {
  height: 250px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.main .competition .competition-slider .slider-item .item-title {
  padding: 0 10px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}
.main .competition .competition-slider .slider-item .item-date {
  padding: 0 10px;
  margin: 24px 0;
  font-size: 14px;
  line-height: 24px;
}
.main .competition .competition-slider .slider-item .more-bl {
  padding: 0 10px;
  display: none;
}
.main .competition .competition-slider .slider-item .more-btn {
  white-space: nowrap;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.main .competition .competition-slider .slider-item .more-btn img {
  display: inline-block;
}
.main .competition .competition-slider .slider-item:hover .more-bl {
  display: block;
}
.main .competition .competition-slider .slick-dots {
  position: relative;
  margin-top: 0;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: auto;
  bottom: 10px;
}
.main .competition .competition-slider .slick-dots li {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  height: 10px;
  border-bottom: 1px solid #cecece;
  margin: 0;
}
.main .competition .competition-slider .slick-dots li.slick-active {
  border-width: 4px;
}
.main .services {
  padding-top: 95px;
  background-color: #f1f1f1;
}
.main .services .section-title {
  text-align: center;
  color: #212F3C;
  margin-top: 0;
  margin-bottom: 6px;
}
.main .services .subtitle {
  text-align: center;
  margin-top: 7px;
  font-size: 20px;
  line-height: 28px;
}
.main .services .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 56px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.main .services .service-list .item-wrapper {
  width: 50%;
  margin: 0 0 20px;
}
.main .services .service-list .item-wrapper:nth-child(1) {
  padding: 0 10px 0 0;
}
.main .services .service-list .item-wrapper:nth-child(2) {
  padding: 0 0 0 10px;
}
.main .services .service-list .item-wrapper:nth-child(3) {
  padding: 0 10px 0 0;
}
.main .services .service-list .item-wrapper:nth-child(4) {
  padding: 0 0 0 10px;
}
.main .services .service-list .item-wrapper:nth-child(2n) .service-item .service-description {
  float: left;
}
.main .services .service-list .service-item {
  width: 100%;
  height: 390px;
  background-image: url(../images/service-fon1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main .services .service-list .service-item .service-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  float: right;
  height: 390px;
  color: #fff;
  background-image: url(../images/block-square-small.svg);
  background-repeat: repeat;
  background-position: top left;
  background-color: #d2743d;
  padding: 0 38px;
}
.main .services .service-list .service-item .service-description .service-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 24px;
}
.main .services .service-list .service-item .service-description .service-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.main .services .service-list .service-item .service-description .more-btn {
  width: 177px;
  display: inline-block;
  height: auto;
  padding: 20px 24px;
  color: #212F3C;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  background-color: #fff;
}
.main .services .service-list .service-item .service-description .more-btn img {
  width: 6px;
  height: 11px;
  top: -2px;
  margin-left: 20px;
}
.main .clients {
  position: relative;
  padding-top: 75px;
  padding-bottom: 76px;
  background-color: #f1f1f1;
  background-image: url(../images/client-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
.main .clients .section-title {
  text-align: center;
  color: #212F3C;
  margin-top: 0;
  margin-bottom: 0;
}
.main .clients .subtitle {
  text-align: center;
  margin-top: 7px;
  font-size: 20px;
  line-height: 28px;
}
.main .clients .clients-bl {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.main .clients .clients-bl .clients-list {
  margin: 50px -16px 0;
  min-height: 390px;
}
.main .clients .clients-bl .clients-list .col-6 {
  padding: 0 16px 32px;
}
.main .clients .clients-bl .clients-list .col-6 .client-name {
  display: none;
  border-radius: 5px;
  width: 290px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  background-color: #DE7C43;
  padding: 18px 28px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.main .clients .clients-bl .clients-list .col-6 .client-name span {
  display: block;
}
.main .clients .clients-bl .clients-list .col-6 .client-name a {
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}
.main .clients .clients-bl .clients-list .col-6 .client-name:before {
  content: '';
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: -30px;
  left: 0;
  background-image: url(../images/clients-triangle.svg);
  background-size: 25px 40px ;
  background-position: left top;
  background-repeat: no-repeat;
}
.main .clients .clients-bl .clients-list .col-6 .clients-item {
  position: relative;
  width: 0;
  border-radius: 50%;
  background-color: #fff;
  padding: 0;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .clients .clients-bl .clients-list .col-6 .clients-item img {
  width: 100%;
  height: auto;
}
.main .clients .clients-bl .clients-list .col-6:hover .client-name {
  display: block;
}
.main .clients .clients-bl .more-btn {
  display: block;
  margin: 0 auto;
  padding: 20px 24px;
}
.main .clients .clients-bl .more-btn img {
  width: 6px;
  height: 11px;
}
.main .players {
  z-index: 1;
  top: 0;
  position: absolute;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main .players .left-player {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-52%);
          transform: translateX(-52%);
}
.main .players .left-player img {
  height: 830px;
}
.main .players .right-player {
  position: absolute;
  right: 0;
  top: 45px;
  -webkit-transform: translateX(43%);
          transform: translateX(43%);
}
.main .players .right-player img {
  height: 720px;
}
.submit-app {
  position: relative;
  background-color: #f1f1f1;
  padding-top: 95px;
  padding-bottom: 145px;
  background-image: url(../images/submit-fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.submit-app:before {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../images/tree.png);
  background-size: auto 100%;
  background-position: right top;
  background-repeat: no-repeat;
  width: 175;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.submit-app .section-title {
  text-align: center;
  color: #212F3C;
  margin-top: 0;
  margin-bottom: 0;
}
.submit-app .subtitle {
  text-align: center;
  margin-top: 7px;
  font-size: 20px;
  line-height: 28px;
}
.submit-app .submit-app-description {
  position: absolute;
  width: 30%;
  left: 0;
  background-color: #DE7C43;
  background-image: url(../images/block-square-small.svg);
  height: auto;
  background-repeat: repeat;
  background-position: top left;
  border-radius: 0 5px 5px 0;
  padding: 45px 40px;
}
.submit-app .submit-app-description .submit-app-text {
  position: relative;
  z-index: 2;
  color: #fff;
  width: 350px;
  float: right;
}
.submit-app .submit-app-description .submit-app-text p {
  font-size: 18px;
  line-height: 24px;
}
.submit-app .submit-app-description .submit-app-text p span {
  font-weight: bold;
}
.submit-app .form-block {
  margin-top: 54px;
  width: 386px;
  background-color: #DE7C43;
  position: relative;
  border-radius: 5px;
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 514px;
}
.submit-app .form-block form {
  width: 100%;
  height: 540px;
  margin: -13px 0;
  -webkit-transform: translate(8px, -13px);
          transform: translate(8px, -13px);
  padding: 38px 30px 25px;
  background-color: #fff;
  border-radius: 5px;
}
.submit-app .form-block form .form-title {
  font-size: 24px;
  line-height: 24px;
  height: 24px;
  margin-bottom: 6px;
  font-weight: bold;
}
.submit-app .form-block form .form-title:before {
  content: "";
  width: 13px;
  height: 22px;
  position: absolute;
  left: -1px;
  background-image: url(../images/app-triangle.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
}
.submit-app .form-block form .form-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
  margin-top: 6px;
}
.submit-app .form-block form .input {
  width: 100%;
  padding: 24px 28px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 17px;
  border: none;
  -webkit-box-shadow: inset 0px 1px 0 #c9c9c9;
          box-shadow: inset 0px 1px 0 #c9c9c9;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.submit-app .form-block form .more-btn {
  width: 100%;
  padding: 24px 0;
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  max-height: 72px;
}
.submit-app .form-block form #consent {
  visibility: hidden;
  position: absolute;
}
.submit-app .form-block form #consent + .check-mark {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #000;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center;
  cursor: pointer;
  visibility: visible;
  position: absolute;
  left: -40px;
  top: 18px;
}
.submit-app .form-block form input[type=checkbox]:checked + .check-mark {
  background-image: url(../images/mark.svg);
}
.submit-app .form-block form label {
  padding-top: 18px;
  position: relative;
}
.submit-app .form-block form label span {
  position: relative;
  top: 0;
  display: inline-block;
  margin-left: 72px;
  font-size: 12px;
  line-height: 18px;
}
.submit-app .form-block form label span a {
  text-decoration: none;
  border-bottom: 1px dashed #E36934;
  color: #E36934;
}
@media (min-width: 320px) {
  .d-xs-none {
    display: none;
  }
  .header {
    padding: 15px 0 9px;
  }
  .header .row {
    height: 45px;
  }
  .header .row .col-auto {
    height: 100%;
  }
  .header .row .col-auto .logo {
    height: 100%;
  }
  .header .row .col-auto .logo::before {
    width: 150px;
    height: 150px;
    bottom: -22px;
  }
  .header .row .col-auto .logo .logo-descr {
    display: none;
  }
  .header .row .col-auto .call-back {
    font-size: 16px;
    line-height: 20px;
  }
  .header .row .col-auto .call-back a::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 17px;
    margin-right: 10px;
    position: relative;
    background-image: url(../images/phone.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    top: 3px;
  }
  .header .row .works-place-block {
    display: none;
  }
  .content {
    padding: 0 15px;
  }
  .section-title {
    font-size: 25px;
    line-height: 150%;
  }
  .main .exp-descr {
    padding-bottom: 200px;
    background: unset;
  }
  .main .exp-descr .sections-description {
    padding-top: 40px;
    padding-right: 20px;
  }
  .main .exp-descr .sections-description::before {
    height: 500px;
    width: 500px;
    bottom: unset;
    top: 89px;
    left: -50%;
  }
  .main .exp-descr .sections-description .section-title {
    font-size: 19px;
    line-height: 150%;
  }
  .main .exp-descr .sections-description .section-text {
    font-size: 14px;
    line-height: 150%;
    max-width: 539px;
    color: #fff;
    margin-top: 25px;
  }
  .main .exp-descr .sections-description .rate-projects {
    font-size: 12px;
    line-height: 150%;
    margin-top: 30px;
  }
  .main .exp-descr .sections-description::after {
    display: none;
  }
  .main .more-btn {
    height: 50px;
    padding: 0 22px;
    font-size: 15px;
    line-height: 24px;
    background-color: #E36934;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
  }
  .main .more-btn img {
    width: 8px;
    height: 13px;
    margin-left: 8px;
    position: relative;
    top: -1px;
  }
  .main .tc-ss {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .main .tc-ss .ranks {
    left: 0;
    -webkit-transform: translateY(-118px);
            transform: translateY(-118px);
    width: 100%;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
  }
  .main .tc-ss .ranks .rank-item {
    padding: 15px 0 15px;
  }
  .main .tc-ss .ranks .rank-item .rank-img {
    max-width: 45px;
    max-height: 40px;
  }
  .main .tc-ss .ranks .rank-item .rank-title {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    margin-top: 16px;
  }
  .main .tc-ss .ranks .rank-item .rank-descr {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin-top: 0;
  }
  .main .tc-ss .section-title {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .main .tc-ss .tc-ss-description {
    height: auto;
  }
  .main .tc-ss .tc-ss-description .tc-ss-img {
    border-radius: 42px 0 0 42px;
    width: auto;
    height: auto;
    left: 25%;
    position: relative;
    background-color: #d2743d;
    background-image: url(../images/back-square.svg);
    background-repeat: repeat;
  }
  .main .tc-ss .tc-ss-description .tc-ss-img img {
    height: auto;
    position: relative;
    bottom: 0;
    left: -37px;
    width: 100%;
    max-width: 320px;
    max-height: unset;
  }
  .main .tc-ss .tc-ss-description .tc-ss-text {
    margin-top: 20px;
  }
  .main .tc-ss .tc-ss-description .tc-ss-text p {
    font-size: 12px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 18px;
  }
  .main .visualization {
    padding-top: 40px;
  }
  .main .visualization .visual-description {
    padding-top: 32px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main .visualization .visual-description .more-btn {
    padding: 0 22px;
    margin-top: 17px;
  }
  .main .visualization .visual-description .more-btn img {
    width: 23px;
    height: auto;
  }
  .main .visualization .visual-description p {
    padding-left: 25px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .main .visualization .vizual-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main .competition {
    padding-top: 70px;
  }
  .main .competition .subtitle {
    margin-top: 7px;
    font-size: 14px;
    line-height: 150%;
  }
  .main .competition .competition-slider {
    margin: 0 auto 0;
    max-width: 1400px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
  }
  .main .competition .competition-slider .slider-item {
    margin: 0 10px;
  }
  .main .competition .competition-slider .slider-item .img-block {
    height: 200px;
  }
  .main .competition .competition-slider .slider-item .item-title {
    padding: 0 10px;
    font-size: 13px;
    line-height: 19px;
    margin-top: 13px;
  }
  .main .competition .competition-slider .slider-item .item-date {
    padding: 0 10px;
    margin: 14px 0;
    font-size: 12px;
    line-height: 150%;
  }
  .main .competition .competition-slider .slider-item .more-btn {
    padding: 0;
    height: 45px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  .main .competition .competition-slider .slider-item .more-btn img {
    width: 6px;
    height: 10px;
  }
  .main .competition .slider-block .prev.slick-arrow {
    width: 18px;
    height: 35px;
    left: 5px;
  }
  .main .competition .slider-block .next.slick-arrow {
    width: 18px;
    height: 35px;
    right: 5px;
  }
  .main .services {
    padding-top: 70px;
  }
  .main .services .subtitle {
    font-size: 14px;
    line-height: 150%;
    padding: 0 20px;
  }
  .main .services .service-list .item-wrapper {
    width: 100%;
  }
  .main .services .service-list .service-item {
    height: 290px;
  }
  .main .services .service-list .service-item .service-description {
    width: 72%;
    height: 100%;
    padding: 0 15px;
  }
  .main .services .service-list .service-item .service-description .service-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  .main .services .service-list .service-item .service-description .service-text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  .main .services .service-list .service-item .service-description .more-btn {
    height: 45px;
    padding: 0 22px;
    font-size: 14px;
    line-height: 22px;
  }
  .main .clients {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #f1f1f1;
    background-image: url(../images/client-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
  }
  .main .clients .players {
    display: none;
    z-index: 1;
    top: 0;
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .main .clients .subtitle {
    font-size: 14px;
    line-height: 150%;
    padding: 0 20px;
  }
  .main .clients .clients-bl .clients-list {
    margin: 50px 0 0;
    padding: 15px;
  }
  .main .clients .clients-bl .clients-list .col-6 .client-name {
    width: 160px;
    padding: 7px 10px;
    font-size: 10px;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(2n) .client-name {
    right: 50%;
    left: unset;
    -webkit-transform: rotateY(180deg) translate(0, -120%);
            transform: rotateY(180deg) translate(0, -120%);
    text-align: left;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(2n) .client-name span,
  .main .clients .clients-bl .clients-list .col-6:nth-child(2n) .client-name a {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: inline-block;
  }
  .main .clients .clients-bl .more-btn {
    padding: 0 22px;
  }
  .main .submit-app {
    padding-top: 70px;
  }
  .main .submit-app:before {
    display: none;
  }
  .main .submit-app .subtitle {
    font-size: 14px;
    line-height: 150%;
    padding: 0 20px;
  }
  .main .submit-app .form-block {
    width: 386px;
    height: 415px;
    max-width: 100%;
  }
  .main .submit-app .form-block form {
    height: 431px;
    margin: -13px 0;
    padding: 20px 20px 15px;
  }
  .main .submit-app .form-block form .form-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .main .submit-app .form-block form .form-text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 22px;
    margin-top: 6px;
  }
  .main .submit-app .form-block form .input {
    padding: 14px 14px;
    font-size: 13px;
    line-height: 17px;
  }
  .main .submit-app .form-block form .more-btn {
    padding: 0;
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    max-height: 72px;
    height: 45px;
  }
  .main .submit-app .form-block form label span {
    margin-left: 30px;
    font-size: 11px;
    line-height: 15px;
  }
  .main .submit-app .form-block form #consent + .check-mark {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #000;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    background-position: center;
    cursor: pointer;
    visibility: visible;
    position: absolute;
    left: -30px;
  }
  .main .submit-app .submit-app-description {
    position: relative;
    left: -15px;
    border-radius: 0 5px 5px 0;
    padding: 25px 20px;
    margin-top: 25px;
    width: 100%;
    max-width: 390px;
  }
  .main .submit-app .submit-app-description .submit-app-text {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 100%;
    float: unset;
  }
  .main .submit-app .submit-app-description .submit-app-text p {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 500px) {
  .header .row .works-place-block {
    display: block;
    padding: 0;
  }
  .header .row .works-place-block .works-place {
    -webkit-transform: none;
            transform: none;
    font-size: 13px;
    line-height: 23px;
  }
  .main .exp-descr .sections-description::before {
    top: 89px;
    left: -50%;
  }
  .main .tc-ss .ranks {
    padding: 0;
  }
  .main .tc-ss .ranks .rank-item {
    padding: 15px;
  }
  .main .tc-ss .tc-ss-description .tc-ss-img {
    max-width: 500px;
    left: 45%;
  }
  .main .tc-ss .tc-ss-description .tc-ss-img img {
    left: -11.5%;
    max-width: unset;
    max-height: unset;
  }
  .main .visualization .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .services .service-list .service-item .service-description {
    width: 50%;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(2n) .client-name {
    left: 50%;
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
    text-align: left;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(3n) .client-name {
    right: 50%;
    left: unset;
    -webkit-transform: rotateY(180deg) translate(0, -120%);
    transform: rotateY(180deg) translate(0, -120%);
    text-align: end;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(2n) .client-name span,
  .main .clients .clients-bl .clients-list .col-6:nth-child(2n) .client-name a {
    -webkit-transform: none;
    transform: none;
    display: inline-block;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(3n) .client-name span,
  .main .clients .clients-bl .clients-list .col-6:nth-child(3n) .client-name a {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: inline-block;
  }
  .main .clients .clients-bl .clients-list .col-6 .client-name {
    width: 175px;
    padding: 7px 10px;
    font-size: 10px;
  }
  .main .clients .clients-bl .clients-list .col-6 .clients-item {
    max-width: 160px;
    max-height: 160px;
  }
}
@media (min-width: 768px) {
  .content {
    padding: 0 20px;
  }
  .main .tc-ss .ranks {
    padding: 15px;
  }
  .header .row .col-auto .logo .logo-descr {
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
  }
  .header .row .works-place-block .works-place {
    line-height: 17px;
  }
  .main .exp-descr {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #f1f1f1));
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #f1f1f1 50%);
  }
  .main .exp-descr .sections-description::after {
    top: -69px;
    right: -101%;
    background-image: url(../images/sportsmen.png);
    width: 114%;
    height: 555px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    display: block;
    left: unset;
  }
  .main .exp-descr .sections-description {
    height: 404px;
    max-width: 539px;
  }
  .header .row .works-place-block {
    position: relative;
    z-index: 2;
  }
  .header .row .col-auto .logo::before {
    width: 777px;
    height: 777px;
    bottom: -44px;
  }
  .main .tc-ss .tc-ss-description .tc-ss-img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: unset;
    right: 0;
  }
  .main .visualization .visual-description {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .main .visualization .vizual-img {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .main .visualization .vizual-img img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .main .services .service-list .service-item .service-description {
    width: 65%;
  }
  .main .services .service-list .item-wrapper {
    width: 50%;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(3n) .client-name {
    left: 50%;
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
    text-align: left;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(4n) .client-name {
    right: 50%;
    left: unset;
    -webkit-transform: rotateY(180deg) translate(0, -120%);
    transform: rotateY(180deg) translate(0, -120%);
    text-align: end;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(3n) .client-name span,
  .main .clients .clients-bl .clients-list .col-6:nth-child(3n) .client-name a {
    -webkit-transform: none;
    transform: none;
    display: inline-block;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(4n) .client-name span,
  .main .clients .clients-bl .clients-list .col-6:nth-child(4n) .client-name a {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: inline-block;
  }
  .main .submit-app .submit-app-description {
    left: -20px;
  }
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 16px;
  }
  .main .competition .section-title {
    margin-bottom: 0;
  }
  .main .tc-ss .section-title {
    margin-bottom: 50px;
  }
  .main .tc-ss .tc-ss-description .tc-ss-img {
    top: 0;
    -webkit-transform: none;
            transform: none;
    max-width: 600px;
  }
  .main .tc-ss .tc-ss-description .tc-ss-img img {
    left: -14%;
    width: 120%;
    bottom: -2px;
  }
  .main .exp-descr .sections-description .section-title {
    font-size: 22px;
  }
  .main .exp-descr .sections-description .rate-projects {
    font-size: 15px;
  }
  .main .exp-descr .sections-description .section-text {
    font-size: 18px;
  }
  .main .visualization .row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .main .services .section-title {
    margin-bottom: 0;
  }
  .main .services .service-list .service-item .service-description {
    width: 50%;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(4n) .client-name {
    left: 50%;
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
    text-align: left;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(6n) .client-name {
    right: 50%;
    left: unset;
    -webkit-transform: rotateY(180deg) translate(0, -120%);
    transform: rotateY(180deg) translate(0, -120%);
    text-align: end;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(4n) .client-name span,
  .main .clients .clients-bl .clients-list .col-6:nth-child(4n) .client-name a {
    -webkit-transform: none;
    transform: none;
    display: inline-block;
  }
  .main .clients .clients-bl .clients-list .col-6:nth-child(6n) .client-name span,
  .main .clients .clients-bl .clients-list .col-6:nth-child(6n) .client-name a {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: inline-block;
  }
  .submit-app .submit-app-description {
    position: absolute;
    width: 40%;
    left: 0;
    background-color: #DE7C43;
    background-image: url(../images/block-square-small.svg);
    height: auto;
    background-repeat: repeat;
    background-position: top left;
    border-radius: 0 5px 5px 0;
    padding: 45px 40px;
  }
  .main .submit-app .form-block {
    margin-top: 54px;
    width: 386px;
    height: 514px;
  }
  .main .submit-app .form-block form {
    height: 540px;
    padding: 38px 30px 25px;
  }
  .main .submit-app .form-block form .form-title {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    margin-bottom: 6px;
  }
  .main .submit-app .form-block form .form-title:before {
    width: 13px;
    height: 22px;
    left: -1px;
  }
  .main .submit-app .form-block form .form-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 22px;
    margin-top: 6px;
  }
  .main .submit-app .form-block form .input {
    padding: 24px 28px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 17px;
  }
  .main .submit-app .form-block form .more-btn {
    padding: 24px 0;
    margin-top: 24px;
    font-size: 20px;
    line-height: 24px;
    height: auto;
  }
  .main .submit-app .form-block form #consent {
    visibility: hidden;
    position: absolute;
  }
  .main .submit-app .form-block form #consent + .check-mark {
    width: 24px;
    height: 24px;
    left: -40px;
  }
  .main .submit-app .form-block form label {
    padding-top: 18px;
  }
  .main .submit-app .form-block form label span {
    margin-left: 72px;
    font-size: 12px;
    line-height: 18px;
  }
  .main .submit-app .submit-app-description {
    position: absolute;
    width: 40%;
    left: 0;
    border-radius: 0 5px 5px 0;
    padding: 45px 40px;
    max-width: unset;
  }
  .main .submit-app .submit-app-description .submit-app-text {
    position: relative;
    z-index: 2;
    color: #fff;
    width: 350px;
    float: right;
  }
  .main .submit-app:before {
    display: block;
    width: 175px;
  }
}
@media screen and (min-width: 1400px) {
  .header .row {
    height: 65px;
  }
  .header .row .col-auto .logo .logo-descr {
    font-size: 14px;
    line-height: 20px;
  }
  .header .row .works-place-block .works-place {
    font-size: 14px;
    line-height: 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header .row .col-auto .call-back {
    font-size: 18px;
    line-height: 22px;
  }
  .header .row .col-auto .call-back a::before {
    width: 20px;
    height: 21px;
  }
  .main .exp-descr .sections-description::after {
    top: -88px;
    left: 87%;
    background-image: url(../images/sportsmen.png);
    width: 1054px;
    height: 994px;
  }
  .main .exp-descr .sections-description .section-title {
    font-size: 34px;
    line-height: 47px;
  }
  .main .exp-descr .sections-description {
    height: auto;
    max-width: 539px;
    padding-top: 85px;
  }
  .main .exp-descr .sections-description .section-text {
    font-size: 20px;
    line-height: 28px;
    margin-top: 54px;
  }
  .main .more-btn {
    height: 93px;
    padding: 35px 32px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
    min-width: 260px;
  }
  .main .exp-descr .sections-description .rate-projects {
    font-size: 16px;
    line-height: 24px;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .main .exp-descr .sections-description .more-btn {
    padding: 35px 53px;
    margin-top: 0;
  }
  .main .tc-ss .ranks {
    -webkit-transform: translateY(-94px);
            transform: translateY(-94px);
  }
  .main .exp-descr {
    padding-bottom: 254px;
  }
  .main .tc-ss .ranks .rank-item .rank-img {
    max-width: 90px;
    max-height: 78px;
  }
  .main .tc-ss .ranks .rank-item .rank-title {
    font-size: 18px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 20px;
  }
  .main .tc-ss .ranks .rank-item .rank-descr {
    font-size: 14px;
    line-height: 22px;
  }
  .main .tc-ss .tc-ss-description .tc-ss-text p {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .main .tc-ss .tc-ss-description .tc-ss-img {
    border-radius: 42px 0 0 42px;
    width: auto;
    left: 50%;
    position: absolute;
    background-color: #d2743d;
    background-image: url(../images/back-square.svg);
    background-repeat: repeat;
    max-width: unset;
  }
  .main .tc-ss .tc-ss-description .tc-ss-img img {
    width: 113%;
    height: auto;
    position: relative;
    bottom: -3px;
    left: -13%;
  }
  .main .visualization {
    padding-top: 95px;
  }
  .main .more-btn img {
    width: 10px;
    height: 17px;
  }
  .section-title {
    font-size: 40px;
    line-height: 53px;
  }
  .main .visualization .visual-description p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .subtitle {
    font-size: 20px!important;
    line-height: 28px!important;
  }
  .main .services .service-list .service-item {
    height: 500px;
  }
  .main .services .service-list .service-item .service-description .service-title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
  }
  .main .services .service-list .service-item .service-description .service-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .main .services .service-list .service-item .service-description .more-btn {
    padding: 20px 24px;
    min-width: unset;
    font-size: 16px;
    line-height: 24px;
    height: auto;
    width: 180px;
  }
  .main .services .service-list .service-item .service-description .more-btn img {
    width: 8px;
    height: 15px;
  }
  .main .services .service-list .service-item .service-description {
    padding: 0 40px;
  }
  .main .clients .players {
    display: block;
    height: 100%;
    width: 100%;
  }
  .main .submit-app .submit-app-description .submit-app-text p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .main .clients {
    margin-top: -15px;
    padding-top: 120px;
  }
  .main .competition {
    padding-top: 95px;
  }
  .main .services {
    padding-top: 95px;
  }
}
/*  Animations*/
.item-wrapper:nth-child(1) .service-item {
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}
.item-wrapper:nth-child(2) .service-item {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}
.item-wrapper:nth-child(3) .service-item {
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}
.item-wrapper:nth-child(4) .service-item {
  -webkit-transform: translate(100%, 100%);
          transform: translate(100%, 100%);
}
.item-wrapper .service-item.go-animate {
  -webkit-animation: serviceAn 1s;
          animation: serviceAn 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes serviceAn {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes serviceAn {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.clients-item.go-animate {
  -webkit-animation: clientAn 1s;
          animation: clientAn 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes clientAn {
  100% {
    width: 100%;
    height: 100%;
    padding: 24px;
  }
}
@keyframes clientAn {
  100% {
    width: 100%;
    height: 100%;
    padding: 24px;
  }
}
.main .competition .competition-slider .slick-list {
  padding: 5px 0;
}
.slider-item.go-prev {
  -webkit-animation: goPrev 1s;
          animation: goPrev 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: ease;
          animation-delay: ease;
}
.slider-item.go-next {
  -webkit-animation: goNext 1s;
          animation: goNext 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: ease;
          animation-delay: ease;
}
@-webkit-keyframes goNext {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes goNext {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes goPrev {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes goPrev {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.more-btn {
  position: relative;
}
.more-btn:before {
  display: block;
  content: "";
  background: rgba(0, 0, 0, 0.1);
  width: 0;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 5px;
  position: absolute;
}
.more-btn:hover:before {
  width: 100%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
