@dark: #E89F33;
@light:#FCAF17;


.header {
	padding: 4px 0;
	.header__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header__menu__item {
			.header__list {
				display: flex;
				list-style: none;	
				.header__list__item {
					padding: 0 19px;

					.header__list__link {
						padding: 0 0 5px;
						position: relative;
						line-height: 100%;
						font-size: 16px;
						text-decoration: none;
						&:before {
							content:"";
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							width: 0;
							height: 1px;
							background-color: @dark;
							transition: width ease-in-out .3s;

						}
						&:hover{
							&:before {
								width: 100%;
							}
						}
					}
				}
			}
			&.header__menu__phone {
				a {
					font-family: Russo One;
					font-size: 22px;
					line-height: 100%;
					color: @light;
				}
			}
			.header__menu__link {
				text-decoration: none;
			}
			&.burger__btn {
				display: none;
				width: 26px;
				height: 13px;
				span {
					height: 2px;
					width: 100%;
					display: block;
					margin-bottom: 4px;
					background-color: @dark;
				}
				
			}
		}
	}

	.mobile {
		&.hide{
			display: block;
			opacity: 1;
			.mobile__menu {
				transform: translateX(0);
			}
		}
		display: none;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.7);
		z-index: 10;
		transition: opacity .2s;
		.mobile__menu {
			transform: translateX(-100%);
			transition: transform .3s;
			padding-top: 40px;
			position: relative;
			width: 280px;
			background-color: #f9f9f9;
			height: 100%;
			.mobile__menu__item {
				position: relative;
				z-index: 2;
				padding: 0 20px 0 20px;

				.mobile__menu__link {
					position: relative;
					z-index: 2;
					padding: 10px 0 10px;
					text-decoration: none;
					font-size: 16px;
					display: block;
					line-height: 100%;
					&:before {
						content:"";
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 0;
						height: 1px;
						background-color: @dark;
						transition: width ease-in-out .3s;

					}
					&:hover{
						&:before {
							width: 100%;
						}
					}
				}
			}
			.close {
				position: absolute;
				right: 20px;
				top: 10px;
				width: 25px;
				height: 25px;
				cursor: pointer;
				span{
					display: inline-block;
					width: 100%;
					left: 0;

					height: 4px;
					position: absolute;
					background-color: @dark;
					top: 10px;
					border-radius: 2px;
					&.first{
						transform: rotate(45deg);
					}
					&.second{
						transform: rotate(-45deg);
					}
				}
			}
		}
		
	}
}

.main {
	.main__section {
		margin-top: 50px;
		position: relative;
		padding: 130px 0 0;
		z-index: 1;
		background-image: url(../images/range.svg);
		background-position: 44%;
		background-size: contain;
		background-repeat: no-repeat;
		.silver {
			width: 100%;
			z-index:0;
			left: 0;
			top: 0;
			position: absolute;
			height: 100%;
			overflow-x: hidden;
			.track {
				position: absolute;
				left: 40%;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.section__title {
			margin-bottom: 50px;

		}
		.button {
			margin-bottom: 100px;
			position: relative;
			z-index: 1;
		}
		.messenger {
			.messenger__item {
				font-size: 18px;
				line-height: 23px;
				text-transform: capitalize;
				text-decoration: none;
				color: #333333;
				margin-right: 25px;
				span {
					font-size: 16px;
					color: @light;
					margin-right: 2px;
					line-height: 100%;
					margin-right:5px;

				}
			}
			margin-bottom: 40px;

		}
	}
	.section {
		margin-top: 100px;
		.section__title {
			padding-bottom: 14px;
			margin-bottom: 50px;
			display: inline-block;
			&:before {
				content: "";
				width: 100%;
				height: 2px;
				background-color: @dark;
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
			}
		}
		&.lines {
			.row {
				margin: 0 -20px;
			}

			.lines__item {
				height: 316px;
				padding:0 20px;
				.lines__item__wrapper {
					transition: all .3s;
					padding: 20px;
					.lines__item__img{
						width: 120px;
						height: 120px;
						text-align: center;
						margin: 0 auto;
						transition: all .3s;

						img{
							width: 100%;
							height: auto;
						}
						margin-bottom: 14px;
					}
					.lines__item__name {
						font-size: 16px;
						line-height: 23px;
						display: block;
						margin-bottom: 14px;
						color: #333333;
						text-align: center;
						transition: all .3s;
						font-weight: normal;

					}
					.lines__item__descr {
						opacity: 0;
						max-width: 100%;
						margin-bottom: 20px;
						transition: all .3s;


						.lines__item__text {
							font-size: 14px;
							line-height: 18px;
							text-indent: 12px;
							color: #F2F2F2;
							span{
								color: @light;
							}
							&:before {
								content:'•';
								display: inline;
								margin:0 3px;
								color: #F2F2F2;

							}
						}

					}
					.button {
						width: 100%;
						opacity: 0;
						display: none;
						text-decoration: none;
						transition: all .3s;
						padding: 14px 0;
						font-weight: normal;

					}
				}
				&:hover {
					.lines__item__wrapper {
						background-color: #333333;
						.lines__item__img{
							width: 64px;
							height: 64px;
						}
						.lines__item__name {
							color: #F2F2F2;
						}
						.lines__item__descr {
							opacity: 1;
							.lines__item__text {
							}
						}
						.button {
							opacity: 1;
							display: block;
						}
					}
				}
			}

		}
		&.service {
			margin-top: 40px;
			.row {
				margin: 0 -20px;
			}

			.service__item {
				height: auto;
				padding:0 20px;
				.service__item__wrapper {
					transition: all .3s;
					padding: 20px;
					.service__item__img{
						width: 120px;
						height: 120px;
						text-align: center;
						margin: 0 auto;
						transition: all .3s;

						img{
							width: 100%;
							height: auto;
						}
						margin-bottom: 14px;
					}
					.service__item__name {
						font-size: 16px;
						line-height: 23px;
						display: block;
						margin-bottom: 14px;
						color: #333333;
						text-align: center;
						transition: all .3s;
						font-weight: normal;

					}
				}
			}
		}
		&.about {
			.content {
				display: flex;
				justify-content: space-between;
				align-items: center;

				background-image: url(../images/map.webp);
				height: 550px;
				background-position: right;
				background-size: contain;
				background-repeat: no-repeat;
				.section__title{
					margin-bottom: 40px;
				}
				.about__left {
					width: 426px;
					.about__text{
						font-size: 16px;
						line-height: 21px;
						color: #4F4F4F;
					}
				}
				.about__right {
					width: 320px;
					.statistics {
						display: flex;
						flex-direction: column;
						.statistics__item{
							.statistics__number{
								font-family: Russo One;
								font-style: normal;
								font-weight: bold;
								font-size: 36px;
								line-height: 43px;
								color: #FCAF17;
								margin-bottom: 6px;
								margin-top: 30px;

							}
							.statistics__descr{
								font-size: 16px;
								line-height: 21px;
								color: #333333;
							}
						}
					}
				}
			}
		}
		&.trust {
			.section__title {
				margin-bottom: 70px;
			}
			.trust__slider {
				position: relative;
				height: 400px;
				.slider__start {
					max-width: 715px;
					margin: 0 auto;
				}
				.trust__slider__item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					height: 400px;
					.trust__item__image {
						width: auto;
						max-width:300px;
						max-height: 100%;
					}
					.trust__item__descr {
						width: 100%;
						max-width: 400px;
						.trust__item__title {
							font-size: 24px;
							line-height: 31px;
							color: #4F4F4F;
							margin-bottom: 20px;
						}
						.trust__item__text {
							font-size: 16px;
							line-height: 21px;
							color: #828282;
						}
					}
				}
			}
			.trust__arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				.prevArr{
					position: absolute;
					width:70px;
					left:0;
					height:70px;
					background-image: url(../images/arrowleft.svg);
					background-position:center;
					background-size:cover;
					background-repeat:no-repeat;
					cursor: pointer;
					&:hover {
						background: url(../images/arrowright.svg);
						transform: rotate(180deg);

					}

				}
				.nextArr {
					position: absolute;
					width:70px;
					right:0;
					height:70px;
					background-image: url(../images/arrowleft.svg);
					background-position:center;
					background-size:cover;
					background-repeat:no-repeat;
					transform: rotate(180deg);
					cursor: pointer;

					&:hover {
						background-image: url(../images/arrowright.svg);
						transform: rotate(0deg);

					}

				}
			}
		}
		&.calculation {
			min-height: 520px;
			padding: 80px 0;
			background-color: #333333;
			.accordion {
				.accordion__head {
					width: auto;
					display: flex;
					div{
						width: auto;
						padding-bottom: 12px; 
						font-size: 24px;
						line-height: 31px;
						color: #f2f2f2;
						cursor: pointer;
						border-bottom: 2px solid #F2F2F2;
						&.active {
							transition: all .3s;
							border-color: @light;
						}
						&.accordion__head__costCalc {
							padding-right: 25px;

						}
						&.accordion__head__callBack {
							padding:0 25px;
						}
					}
				}
				.accordeon__block {
					.section__title {
						color: #f2f2f2;
						margin: 55px 0 65px;
						letter-spacing: 1px;
						&:before {
							display: none;
						}
					}
					.accorderon__item.costCalc {
						&.hide{
							display: none;
						}
						.costCalc__form {
							.costCalc__form__main {
								display: flex;
								flex-wrap:wrap;
								input {
									-ms-flex-preferred-size: 0;
									flex-basis: 0;
									-ms-flex-positive: 1;
									flex-grow: 1;
									min-width: 0;
									max-width: 100%;
									padding-left: 0;
									background-color: transparent;
									border: none;
									padding-bottom: 15px;
									font-size: 16px;
									line-height: 22px;
									color: #E0E0E0;
									border-bottom: 1px solid #BDBDBD;
									&:not(:last-child){
										margin-right: 20px;
									}
									&:focus {
										outline: none;
										border-color: @light;
									}
									&::-webkit-input-placeholder {
										color: #e0e0e0;
									} 
									&::-moz-placeholder {
										color: #e0e0e0;
									}
								}
							}
							.options__title {
								font-size: 16px;
								line-height: 22px;
								color: #E0E0E0;
								display: block;
								width: auto;
								margin: 32px 0;
								cursor: pointer;
								transition: transform .2s;
								img {
									margin-left: 24px;
								}
								&.active {
									img {
										transform: rotate(180deg);
									}
								}
							}

							.options {
								display: none;
								margin-left: 0;
								.row {
									margin-left: 0;
									margin-right: 0;
								}
								.row>input, .row>div{
									-ms-flex-preferred-size: 0;
									flex-basis: 0;
									-ms-flex-positive: 1;
									flex-grow: 1;
									min-width: 0;
									max-width: 100%;
									padding-left: 0;
									background-color: transparent;
									border: none;
									padding-bottom: 15px;
									font-size: 16px;
									line-height: 22px;
									color: #E0E0E0;
									border-bottom: 1px solid #BDBDBD;
									display: block;
									&:not(:nth-child(3n)){
										margin-right: 20px;
									}
									&:focus {
										outline: none;
										border-color: @light;
									}
									margin-bottom: 32px;
									&::-webkit-input-placeholder {
										color: #e0e0e0;
									} 
									&::-moz-placeholder {
										color: #e0e0e0;
									}
									&[type='number'] {
										-moz-appearance:textfield;
									}

									&::-webkit-outer-spin-button,
									&::-webkit-inner-spin-button {
										-webkit-appearance: none;
									}
								}
								textarea {
									overflow: none;
									width: 100%;
									height: 82px;
									max-width: 100%;
									padding-left: 0;
									background-color: transparent;
									border: none;
									padding-bottom: 15px;
									font-size: 16px;
									line-height: 22px;
									color: #E0E0E0;
									border-bottom: 1px solid #BDBDBD;
									display: block;
									&:focus {
										outline: none;
										border-color: @light;
									}
									&::-webkit-input-placeholder {
										color: #e0e0e0;
									} 
									&::-moz-placeholder {
										color: #e0e0e0;
									}
								}
								.dropdown {
									position: relative;
									display: block;
									.select {
										span {
											font-size: 16px;
											line-height: 22px;
											color: #E0E0E0;
										}
										img {
											margin-left: 25px;
										}

										cursor: pointer;
										display: flex;
										width: 100%;
										white-space: nowrap;
									}
									.dropdown-menu {
										padding: 0;
										list-style: none;
									}
									&:hover {
										outline: none;

									}
									&:focus {
										outline: none;
									}
									.dropdown-menu {
										position: absolute;
										width: 100%;
										left: 0;
										margin-top: 19px;
										overflow: hidden;
										display: none;
										z-index: 9;
										background-color: #f2f2f2;
										border-radius: 15px;
										li {
											padding: 10px;
											cursor: pointer;
											font-size: 16px;
											line-height: 22px;
											color: #333;
											&:hover {
												background-color: #e0e0e0;
											}
										} 
									}
								}
								.checkboxes {
									margin-top: 35px;
									label {
										display: flex;
										align-items: center;
										height: 20px;
										position: relative;
										padding: 0;
										cursor: pointer;
										margin-bottom: 20px;
									}
									input{
										width: 0;
										height: 0;
										&:before{
											cursor: pointer;

											position: absolute;
											top: 0;
											left: 0;
											z-index: 1;
											content:"";
											display: inline-block;
											width: 20px;
											height: 20px;
											background-color: #E0E0E0;
											background-repeat:	no-repeat;
											background-size: auto;
											background-position: center;
											border: 1px solid #BDBDBD;
											box-sizing: border-box;
										}
										&:checked:before {
											background-color: @light;
											background-image: url(../images/checked.svg);
											border: none;
										}
									}
									span {
										font-size: 16px;
										line-height: 100%;
										margin-left: 34px;
										color:#e0e0e0;

									}
								}

							}
						}
						.button{
							margin-top: 50px;
						}
					}
					.accorderon__item.callBack {
						&.hide{
							display: none;
						}
						.callBack__form {
							input{
								display: block;
								width: 385px;
								padding-left: 0;
								background-color: transparent;
								border: none;
								padding-bottom: 15px;
								font-size: 16px;
								line-height: 22px;
								color: #E0E0E0;
								margin-bottom: 32px;
								border-bottom: 1px solid #BDBDBD;
								&:not(:last-child){
									margin-right: 20px;
								}
								&:focus {
									outline: none;
									border-color: @light;
								}
								&::-webkit-input-placeholder {
									color: #e0e0e0;
								} 
								&::-moz-placeholder {
									color: #e0e0e0;
								}
							}
							.button {
								margin-top:18px;
							}
						}
					}
				}
			}
		}
		&.contacts {
			.section__title {
				margin:80px 0 60px;
			}
			.contacts__block {
				.contacts__item {
					.contacts__type{
						font-size: 18px;
						line-height: 23px;
						color: #4F4F4F;
						margin-bottom: 25px;
					}
					.contacts__link {
						font-size: 18px;
						line-height: 23px;
						text-decoration: none;

					}
					&.contacts__item__phone {
						font-size: 24px;
						line-height: 31px;
					}
				}
			}
		}
	}
	.map {
		filter: grayscale(100%);
		margin-top: 80px;
	}
}



@media (max-width: 1199px ) {
	.header .header__menu .header__menu__logo {
		height: 40px;
		img {
			height: 100%;
		}
	}
	.header .header__menu .header__menu__item .header__list .header__list__item {
		padding: 0 15px;
	}
	.header .header__menu .header__menu__item .header__list .header__list__item .header__list__link{
		font-size: 15px;
	}
	.main .main__section{
		padding-top: 60px;
	}
	.main .main__section .section__title {
		font-size: 35px;
		line-height:42px;
	}
}
@media (max-width: 991px ) {
	.header .header__menu .header__menu__logo {
		height: 40px;
		img {
			height: 100%;
		}
	}
	.main .section .section__title {
		padding-bottom: 8px;
	}
	.header .header__menu .header__menu__item .header__list .header__list__item {
		padding: 0 15px;
	}
	.header .header__menu .header__menu__item .header__list .header__list__item .header__list__link{
		font-size: 15px;
	}
	.header .header__menu .header__menu__item.burger__btn {
		display: block;
	}
	.header__menu__list {
		display: none;
	}
	.header .header__menu .header__menu__logo {
		height: auto;
	}
	.main .main__section .button {
		margin-bottom: 50px;
	}
	.main .main__section .silver .track {
		height: 220px;
	}
	.main .section.about .content .about__right {
		width: 250px;
	}
	.main .section.trust {
		display: none;
	}
	.main .section.about .content {
		height: auto;
		background-size: cover;
	}
	.main .main__section {
		background: none;
	}
	.main .main__section .silver .track {
		left: 50%;
	}
}
@media (max-width: 767px) {
	.main .section.calculation {
		padding: 50px 0 40px;
	}
	.main .section.calculation .accordion .accordion__head div.accordion__head__costCalc{
		padding-right:13px;
		font-size: 20px;
		line-height:25px;
	}
	.main .section.calculation .accordion .accordion__head div.accordion__head__callBack {
		padding-right: 0;
		font-size: 20px;
		line-height:25px;
		padding-left: 13px;

	}
	.main .section.calculation .accordion .accordeon__block .section__title {
		margin: 30px 0;
	}
	.main .section.about .content .about__left {
		max-width: 450px;
		width: 100%;
		margin: 0 auto;
	}
	.main .section.about .content .about__right {
		width:100%;
	}
	.main .section.about .content .about__right .statistics {
		flex-direction: row;
		justify-content: space-evenly;

	}
	.main .section.about .content {
		flex-direction: column;
	}
	.main .section.about .content .about__right .statistics .statistics__item .statistics__number {
		margin-top: 20px;
	}
	.main .section.contacts .section__title {
		margin: 0;
	}
	.main .section {
		margin-top: 70px;
	}
	.main .map {
		margin-top: 40px;
	}
	.main .main__section {
		padding-top: 0;
	}
	.main .main__section .section__title {
		margin-bottom: 20px;
		font-size: 32px;
		line-height:39px;
	}
	.main .main__section .silver {
		position: relative;
		margin-bottom: 35px;
		height:220px;
		overflow-y: hidden;
	}
	.main .main__section .silver .track {
		transform: unset;
		left: 0px;
		height: 100%;
		top: 0;

	}
}
@media (max-width: 600px) {
	.main .section.calculation .accordion .accordeon__block .accorderon__item.costCalc .costCalc__form .options .row > input, .main .section.calculation .accordion .accordeon__block .accorderon__item.costCalc .costCalc__form .options .row > div {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 340px;
		margin-bottom: 30px;
	}
	.main .section.calculation .accordion .accordeon__block .accorderon__item.costCalc .costCalc__form .costCalc__form__main input {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 340px;
		margin-bottom: 30px;
	}
	.main .section.calculation .accordion .accordeon__block .accorderon__item.costCalc .costCalc__form .options .checkboxes label {
		height: auto;
	}
	.main .section.calculation .accordion .accordeon__block .accorderon__item.costCalc .costCalc__form .options .checkboxes span {
		font-size: 14px;
		line-height: 18px;
		margin-left: 15px;
	}
}
@media (max-width: 430px ) {
	.main .section.calculation .accordion .accordion__head div.accordion__head__costCalc, 
	.main .section.calculation .accordion .accordion__head div.accordion__head__callBack {
		font-size: 15px;
	}
	.header .header__menu .header__menu__logo {
		height: 32px;
	}
	.header .header__menu .header__menu__item.header__menu__phone a {
		font-size: 16px;
	}
	.header .header__menu .header__menu__item.burger__btn {
		width: 25px;
	}
	form .button{
		width: 100%;
		max-width: 300px;
	}

}