* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
}

.preloader-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 30px;
}
.preloader-text.start:before {
  -webkit-transition: 1.4s;
  transition: 1.4s;
  width: 55%;
}
.preloader-text:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: #F6B835;
}
.preloader-text img {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  position: relative;
  max-width: 1000px;
}

body.preloaded {
  overflow: hidden;
}

h1 {
  font-family: 'Arsenal';
  font-weight: normal;
  font-size: 38px;
  line-height: 48px;
  color: #FFFFFF;
}

h2 {
  font-family: 'Arsenal';
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  color: #303030;
}

.content {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.menu-btn {
  width: 64px;
  height: 64px;
  position: relative;
  z-index: 10;
  margin-left: -15px;
}
.menu-btn span {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #FFFFFF;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.menu-btn span:before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  top: -6px;
  left: 0;
  background-color: #FFFFFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.menu-btn span:after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: -6px;
  left: 0;
  background-color: #FFFFFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.menu-btn.open span {
  background-color: #303030;
  width: 0;
}
.menu-btn.open span:before {
  background-color: #303030;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.menu-btn.open span:after {
  background-color: #303030;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
}
.header-item.header-logo {
  height: 21px;
}
.header-item.header-logo img {
  height: 100%;
}

.header-phone {
  position: relative;
  display: block;
}
.header-phone a {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #F6B835;
}
.header-phone a span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-menu {
  display: none;
  font-weight: 600;
  margin-right: 10px;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: #FFFFFF;
  padding: 84px 0 20px;
}

.header-menu-item {
  font-weight: 600;
  display: block;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  text-decoration: none;
  position: relative;
  padding: 8px 20px;
  border-bottom: 1px solid #E5E5E5;
}
.header-menu-item:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #F6B835;
}
.header-menu-item.header-menu-flat {
  padding: 5px 40px;
}
.header-menu-item.header-menu-disable {
  line-height: 24px;
  opacity: 0.5;
  color: #000;
}

.introduction {
  overflow: hidden;
  background-image: url("../../img/kuibishev-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 340px;
  max-height: 430px;
  padding-top: 70px;
  position: relative;
}

.introduction-title {
  margin-bottom: 15px;
}

.introduction-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  padding-left: 10px;
  border-left: 2px solid #fff;
  width: 380px;
}

.introduction-bottom {
  bottom: 46px;
  width: 100%;
}

.introduction-flats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.introduction-flat-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 15px 15px 0;
}
.introduction-flat-item:nth-child(1) .introduction-flat-wrap {
  background-color: #F6B835;
}
.introduction-flat-item:nth-child(2) .introduction-flat-wrap {
  background-color: #FF5C30;
}
.introduction-flat-item:nth-child(3) .introduction-flat-wrap {
  background-color: #8A409B;
}
.introduction-flat-item:nth-child(4) .introduction-flat-wrap {
  background-color: #E31A3E;
}

.introduction-flat-wrap {
  padding: 24px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transition: padding .3s;
  transition: padding .3s;
  cursor: pointer;
}
.introduction-flat-wrap .icon-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 17px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.introduction-flat-wrap:hover {
  padding: 30px 20px;
}

.flats-type {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 10px;
  display: block;
}

.flats-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  display: block;
}

.about {
  padding: 30px 0 44px;
  border-bottom: 1px solid #E7E7E7;
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.about-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  max-width: 180px;
}

.about-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #303030;
}

.btn-link {
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FD9827;
  padding: 9.5px 26px 9.5px 0;
}
.btn-link:hover {
  color: #FF5C30;
}
.btn-link .icon-right {
  margin: 2px 0 0 10px;
  position: relative;
  top: 2px;
}

.about-more {
  width: 105px;
  margin-top: 15px;
}

.about-slider {
  width: 100%;
  height: 430px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.about-wrapper {
  width: 100%;
  height: 430px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.about-slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 57px;
  bottom: 37px;
  z-index: 1;
}

.about-slide {
  width: 100%;
  height: 430px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
}
.about-slide img {
  max-height: 100%;
}

.about-button-prev, .about-button-next {
  width: 45px;
  height: 45px;
  margin-right: 22px;
  z-index: 1;
  position: relative;
  cursor: pointer;
  background: #E31A3E;
  border-radius: 50%;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.about-button-prev span, .about-button-next span {
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about-button-prev:hover, .about-button-next:hover {
  background-color: #BB1432;
}

.advantage {
  padding: 30px 0 30px;
  border-bottom: 1px solid #E7E7E7;
}

.advantage-title {
  margin-bottom: 30px;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 -7.5px;
}

.advantage-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 7.5px;
}
.advantage-item:nth-child(1n) .advantage-name {
  background-color: #E31A3E;
}
.advantage-item:nth-child(2n) .advantage-name {
  background-color: #FF5C30;
}
.advantage-item:nth-child(3n) .advantage-name {
  background-color: #F6B835;
}
.advantage-item:nth-child(4n) .advantage-name {
  background-color: #8A409B;
}
.advantage-item:hover .advantage-img {
  background-size: 120% auto;
}
.advantage-item:hover .advantage-name {
  bottom: 20px;
}

.advantage-img {
  height: 280px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.advantage-name {
  position: absolute;
  bottom: 10px;
  left: -10px;
  padding: 16px;
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  width: auto;
  -webkit-transition: bottom .3s;
  transition: bottom .3s;
}

.location {
  padding-top: 30px;
  position: relative;
}

.location-title {
  margin-bottom: 30px;
}

.location-map {
  position: relative;
  height: 420px;
  width: 100%;
}

.filter-btn, .use-btn {
  background: #FF5C30;
  border-radius: 22px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 11px;
  text-align: center;
  width: 180px;
  outline: none;
  border: none;
}

.filter-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.location-bottom {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.location-bus, .location-minibus {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #303030;
  margin-right: 30px;
}

.location-bus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}
.location-bus-item span {
  background-color: #3DB300;
  border-radius: 3px;
  padding: 3px 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-right: 4px;
}

.location-minibus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}
.location-minibus-item span {
  background-color: #B244C9;
  border-radius: 3px;
  padding: 3px 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-right: 4px;
}

.location-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.location-right-item {
  cursor: pointer;
  padding: 3px 10px 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #303030;
  margin-left: 20px;
  background: #F7F7F7;
  border-radius: 18px;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.location-right-item .location-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.location-right-item .location-circle span {
  font-size: 16px;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: color .3s;
  transition: color .3s;
}
.location-right-item.location-book .location-circle {
  background-color: #FF2D79;
}
.location-right-item.location-rocking-horse .location-circle {
  background-color: #A8C15D;
}
.location-right-item.location-shopping-cart .location-circle {
  background-color: #227FB3;
}
.location-right-item.location-dumbbell .location-circle {
  background-color: #5BAB5F;
}
.location-right-item.location-cross .location-circle {
  background-color: #3ABDEB;
}
.location-right-item:hover, .location-right-item.active {
  color: #FFFFFF;
}
.location-right-item:hover .location-circle, .location-right-item.active .location-circle {
  background-color: #FFFFFF;
}
.location-right-item:hover.location-book, .location-right-item.active.location-book {
  background-color: #FF2D79;
}
.location-right-item:hover.location-book span, .location-right-item.active.location-book span {
  color: #FF2D79;
}
.location-right-item:hover.location-rocking-horse, .location-right-item.active.location-rocking-horse {
  background-color: #A8C15D;
}
.location-right-item:hover.location-rocking-horse span, .location-right-item.active.location-rocking-horse span {
  color: #A8C15D;
}
.location-right-item:hover.location-shopping-cart, .location-right-item.active.location-shopping-cart {
  background-color: #227FB3;
}
.location-right-item:hover.location-shopping-cart span, .location-right-item.active.location-shopping-cart span {
  color: #227FB3;
}
.location-right-item:hover.location-dumbbell, .location-right-item.active.location-dumbbell {
  background-color: #5BAB5F;
}
.location-right-item:hover.location-dumbbell span, .location-right-item.active.location-dumbbell span {
  color: #5BAB5F;
}
.location-right-item:hover.location-cross, .location-right-item.active.location-cross {
  background-color: #3ABDEB;
}
.location-right-item:hover.location-cross span, .location-right-item.active.location-cross span {
  color: #3ABDEB;
}

.footer {
  background: #F6F6F6;
  padding: 22px 0 0;
}

.footer-messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0 25px;
}

.footer-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.footer-messenger-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54px;
          flex: 0 0 54px;
  max-width: 54px;
  position: relative;
  height: 54px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-right: 14px;
}
.footer-messenger-item a {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #303030;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.footer-messenger-item a:hover {
  color: #FF5C30;
}
.footer-messenger-item span {
  font-size: 21px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer-menu-item {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: #303030;
  margin-bottom: 20px;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.footer-menu-item:hover {
  color: #FF5C30;
}

.footer-contacts-name {
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  color: #858585;
}

.footer-contacts-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 175%;
  color: #303030;
  text-decoration: none;
}

.footer-contacts-item {
  margin-bottom: 20px;
}

.footer-bottom {
  border-top: 1px solid #E5E5E5;
}

.footer-bottom-wrap {
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom-left {
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #303030;
}
.footer-bottom-left a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #858585;
}

.footer-bottom-right {
  height: 40px;
}
.footer-bottom-right img {
  height: 100%;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

@media (max-width: 768px) {
  .introduction {
    height: 495px;
  }

  .about {
    padding: 30px 0 100px;
  }

  .about-slider, .about-wrapper, .about-slide {
    height: 350px;
  }

  .about-slider-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    right: unset;
    bottom: -56px;
    z-index: 1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .footer-top-wrap {
    padding: 0;
  }
}
@media (max-width: 650px) {
  .introduction-flat-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .advantage-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 400px;
    padding: 7.5px;
  }

  .advantage-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .advantage-img {
    height: 264px;
  }

  .location-map {
    height: 420px;
  }

  .footer-top-wrap {
    display: block;
  }

  .about-top {
    display: block;
  }

  .about-title {
    margin-bottom: 16px;
  }

  .about-slider, .about-wrapper, .about-slide {
    height: 256px;
  }
}
